<div class="form-group">
  <div class="form-check" *ngFor="let field_detail of dataOptions">
    <input class="form-check-input"
      type="radio"
      [class]="customClass"
      [ngClass]="field.required ? 'ng-invalid' : ''"
      [required]="field.required"
      [value]="field_detail.key"
      [required]="field.required"
      [name]="field.fieldName.en"
      [id]="field.fieldID"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
    />
    <label class="form-check-label">{{field_detail.value.en}}</label>
    <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched)"
      class="alert alert-danger">

      <div *ngIf="ngModel.errors.required || ngModel.errors.minlength">
        {{getText(field, 'errorMsg')}}
      </div>
    </div>
  </div>
</div>

