<div class="card d-inline-flex" [ngClass]="getClass('col-sm-', data)">
  <div class="card-header border-0">
    <div class="card-tools">
      <button type="button" class="btn btn-sm" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
      </button>
    </div>
    <h3 class="card-title float-right font-weight-bold">{{data.title}}</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th *ngFor="let header of data.thead">{{header.ar}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field_detail of data.tbody; let i = index">
          <td *ngFor="let item of field_detail">
            {{item.ar}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
