<app-sidebar></app-sidebar>
<div class="content-wrapper">
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12" *ngIf="profile$ | async as profile">
          <div class="card rtl">
            <router-outlet></router-outlet>
            <section class="content" *ngIf="formData && !formData.id">
              <div class="container-fluid">
                <form class="form-horizontal" (ngSubmit)="saveData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileCompanyOrganisationType">
                            Company / organization Type
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              required="true"
                              [items]="companyTypeOptions"
                              name="companyType"
                              [(ngModel)]="formData.companyType"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #companyType="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="companyType.invalid && (companyType.dirty || companyType.touched)" class="alert alert-danger">
                              <div *ngIf="companyType.errors?.required">
                                Company Type can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!-- <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileCompanyId">Company ID</label>
                          <div class="col-sm-9">
                            <input name="companyId" type="text" class="form-control" [(ngModel)]="formData.companyId" #companyId="ngModel" numbersOnly precision="0">
                            <div *ngIf="companyId.invalid && (companyId.dirty || companyId.touched)" class="alert alert-danger">
                              <div *ngIf="companyId.errors?.pattern || companyId.errors?.minlength">
                                Enter valid Company Id
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileNameInEnglish">Company Name in English
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="nameEn" required="true" class="form-control" [(ngModel)]="formData.nameEn" #nameEn="ngModel">
                            <div *ngIf="nameEn.invalid && (nameEn.dirty || nameEn.touched)" class="alert alert-danger">
                              <div *ngIf="nameEn.errors?.required">
                                Name in English can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileNameInArabic">Company Name In Arabic
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="nameAr" required="true" class="form-control" [(ngModel)]="formData.nameAr" #nameAr="ngModel">
                            <div *ngIf="nameAr.invalid && (nameAr.dirty || nameAr.touched)" class="alert alert-danger">
                              <div *ngIf="nameAr.errors?.required">
                                Name in Arabic can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row" *ngIf="isNotGovernmentInstitute()">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileLicenseIssuer">License Issuer
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              required="true"
                              [items]="licenseIssuerOptions"
                              name="licenseIssuer"
                              [(ngModel)]="formData.licenseIssuerId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #licenseIssuer="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="licenseIssuer.invalid && (licenseIssuer.dirty || licenseIssuer.touched)" class="alert alert-danger">
                              <div *ngIf="licenseIssuer.errors?.required">
                                License Issuer can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileTradeLicenseNumber">Trade license number
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="tradeLicenseNumber" required="true" class="form-control" [(ngModel)]="formData.licenseNumber" #licenseNumber="ngModel" >
                            <div *ngIf="licenseNumber.invalid && (licenseNumber.dirty || licenseNumber.touched)" class="alert alert-danger">
                              <div *ngIf="licenseNumber.errors?.required">
                                License Number can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row" *ngIf="isNotGovernmentInstitute()">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileLicenseExpiryDate">License Expiry date
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                              class="form-control"
                              name="licenseExpiryDate"
                              [(ngModel)]="formData.licenseExpiryDate"
                              (dateTimeChange)="formatDate('licenseExpiryDate')"
                              required="true"
                              [min]="minDate"
                              [owlDateTime]="dt5"
                              [owlDateTimeTrigger]="dt5"
                              #licenseExpiryDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
                            <div class="alert alert-danger" *ngIf="licenseExpiryDate.invalid && (licenseExpiryDate.dirty || licenseExpiryDate.touched) && licenseExpiryDate.errors?.required">
                              License Expiry date can not be blank
                            </div>
                            <!-- <div class="alert alert-danger" *ngIf="licenseExpiryDate.invalid && licenseExpiryDate.errors?.owlDateTimeMin">
                              Enter valid License Expiry date
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileLicenseIssuanceDate">License issuance date
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                              class="form-control"
                              name="licenseIssuanceDate"
                              [(ngModel)]="formData.licenseIssuanceDate"
                              (dateTimeChange)="formatDate('licenseIssuanceDate')"
                              required="true"
                              [max]="minDate"
                              [owlDateTime]="dt7"
                              [owlDateTimeTrigger]="dt7"
                              #licenseIssuanceDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>
                            <div class="alert alert-danger" *ngIf="licenseIssuanceDate.invalid && (licenseIssuanceDate.dirty || licenseIssuanceDate.touched) && licenseIssuanceDate.errors?.required">
                              License issuance date can not be blank
                            </div>
                            <!-- <div class="alert alert-danger" *ngIf="licenseIssuanceDate.invalid && licenseIssuanceDate.errors?.owlDateTimeMax">
                              Enter valid License issuance date
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row" *ngIf="isNotGovernmentInstitute()">
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileLicenseType">License Type
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              required="true"
                              [items]="licenseTypeOptions"
                              name="licenseType"
                              [(ngModel)]="formData.licenseType"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #licenseType="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="licenseType.invalid && (licenseType.dirty || licenseType.touched)" class="alert alert-danger">
                              <div *ngIf="licenseType.errors?.required">
                                License Type can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileEstablishmentCardNumber">Establishment card number
                            <span *ngIf="isGovernmentOrg()">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input name="establishmentCardNumber" [required]="isGovernmentOrg()" type="text" class="form-control" [(ngModel)]="formData.establishmentCardNumber" #establishmentCardNumber="ngModel" numbersOnly precision="0">
                            <div *ngIf="establishmentCardNumber.invalid && (establishmentCardNumber.dirty || establishmentCardNumber.touched)" class="alert alert-danger">
                              <div *ngIf="establishmentCardNumber.errors?.required">
                                Establishment card number can not be blank
                              </div>
                              <div *ngIf="establishmentCardNumber.errors?.pattern || establishmentCardNumber.errors?.minlength">
                                Enter valid Establishment card number
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileEmirate">Emirate
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="emiratesOptions"
                              name="trxEmirateId"
                              required="true"
                              [(ngModel)]="formData.trxEmirateId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #trxEmirateId="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="trxEmirateId.invalid && (trxEmirateId.dirty || trxEmirateId.touched)" class="alert alert-danger">
                              <div *ngIf="trxEmirateId.errors?.required">
                                Emirate can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileTaxNumber">Tax Number
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input name="trxId" required="true" type="text" class="form-control" [(ngModel)]="formData.trxId" #trxId="ngModel">
                            <div *ngIf="trxId.invalid && (trxId.dirty || trxId.touched)" class="alert alert-danger">
                              <div *ngIf="trxId.errors?.required">
                                Tax Number can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileMakaniNumber">Makani Number</label>
                          <div class="col-sm-9">
                            <input name="makaniNumber" type="text" class="form-control" [(ngModel)]="formData.makaniNumber" #makaniNumber="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfilePhoneNumber">Phone Number
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input name="phoneNumber" type="text" class="form-control" required="true" [maxLength]="17" [(ngModel)]="formData.phoneNumber" #phoneNumber="ngModel" numbersOnly precision="0" pattern="[0-9]*">
                            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                              <div *ngIf="phoneNumber.errors?.required">
                                Phone Number can not be blank
                              </div>

                              <div *ngIf="phoneNumber.errors?.pattern">
                                Enter Valid Phone Number
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileWebsite">Website</label>
                          <div class="col-sm-9">
                            <input name="website" type="text" class="form-control" [(ngModel)]="formData.website" #website="ngModel">
                            <div *ngIf="website.invalid && (website.dirty || website.touched)" class="alert alert-danger">
                              <div *ngIf="website.errors?.pattern">
                                Enter Valid Website
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileEmail">Email</label>
                          <div class="col-sm-9">
                            <input name="email" type="email" class="form-control" [(ngModel)]="formData.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                              <div *ngIf="email.errors?.pattern">
                                Enter valid Email
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row" *ngFor="let owner of getOwnersData(); let j = index">
                      <div class="col-sm-6">
                        <div class="form-group row" *ngIf="isNotGovernmentAndIndividualInstitute()">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileOwnershipPercentage">Ownership percentage
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input [name]="getName('share', j)" (change)="notValidTotal()" maxlength="6" required="true" type="text" class="form-control" [(ngModel)]="owner.share" #share="ngModel" numbersOnly precision="2">
                            <div class="alert alert-danger" *ngIf="share.invalid && (share.dirty || share.touched) && share.errors?.required">
                              Ownership Percentage can not be blank
                            </div>

                            <div class="alert alert-danger" *ngIf="(share.dirty || share.touched) && notValidTotal()">
                              Ownership Percentage Total should be 100
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@companyProfileOwner">Owner
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="ownerOptions | async"
                              [name]="getName('ownerId', j)" [hideSelected]="true" 
                              required="true" [minTermLength]="4" 
                              [(ngModel)]="owner.ownerId" [loading]="dataOptionsLoading"
                              bindLabel="value.ar"
                              bindValue="key" typeToSearchText="Please enter 4 or more characters"
                              notFoundText="لا يوجد نتائج للبحث" [typeahead]="searchInput$"
                              #ownerId="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="ownerId.invalid && (ownerId.dirty || ownerId.touched)" class="alert alert-danger">
                              <div *ngIf="ownerId.errors?.required">
                                Owner can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 mt-2">
                        <button type="button" (click)="deleteRow(j)" class="btn btn-sm btn-danger" *ngIf="j!= 0">Remove</button>
                        <button type="button" (click)="addRow()" class="btn btn-sm btn-primary" *ngIf="j == 0">add</button>
                        <hr *ngIf="j != 0"/>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-left" [disabled]="f.invalid || notValidTotal()" i18n="@@formSubmitLabel">Submit</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>