<div class="custom-file">
  <input type="file"
    class="custom-file-input"
    [class]="customClass"
    [accept]="field.auxInfo?.acceptedFileTypes"
    [name]="getName(field.fieldName.en)"
    [id]="field.fieldID"
    [multiple]="'true'"
    [required]="field.required"
    [(ngModel)]="formData[field.fieldID]"
    (change)="updateControlLabel($event)"
    #ngModel="ngModel"
    />
  <label class="custom-file-label" [for]="field.fieldID" #labelImport>choose file</label>

  <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) || showErrors(field.fieldID)"
    class="alert alert-danger">

    <div *ngIf="ngModel.errors?.required || ngModel.errors?.minlength">
      {{getText(field, 'errorMsg')}}
    </div>

    <div *ngIf="showErrors(field.fieldID)">
      {{getErrors(field.fieldID)}}
    </div>    
  </div>
</div>
