<div class="custom-file">
  <input type="file"
    class="custom-file-input"
    [class]="customClass"
    [accept]="field.auxInfo?.acceptedFileTypes"
    [name]="field.fieldName.ar"
    [id]="field.fieldID"
    [multiple]="'true'"
    [required]="field.required"
    [(ngModel)]="formData[field.fieldID]"
    (change)="updateControlLabel($event)"
    #ngModel="ngModel"
    />
  <label class="custom-file-label" [for]="field.fieldID" #labelImport>choose file</label>

  <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched)"
    class="alert alert-danger">

    <div *ngIf="ngModel.errors.required || ngModel.errors.minlength">
      {{getText(field, 'errorMsg')}}
    </div>
  </div>
</div>
