<section class="content" *ngIf="profile$ | async as profile">
  <div class="container-fluid">
    <app-alerts [errors]="formErrors"></app-alerts>
    <form class="form-horizontal" (ngSubmit)="searchResourceData(searchData)" #sf="ngForm" enctype='multipart/form-data' novalidate>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileSearchName">Name</label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="ownerNameOptions | async"
                  name="ownerNameSearch"
                  [hideSelected]="true"
                  [minTermLength]="1"
                  [(ngModel)]="searchData.term"
                  [loading]="ownerNameOptionsLoading"
                  bindLabel="value.ar"
                  bindValue="key"
                  typeToSearchText="Please enter 1 or more characters"
                  notFoundText="لا يوجد نتائج للبحث"
                  [typeahead]="searchOwnerNameInput$"
                  (keyup)="setSearchType('term', $event)"
                  [disabled]="isSearchBy('uniqueId')"
                  (blur)="checkTypeAndValues('term')"
                  #ownerNameSearch="ngModel"
                >
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileSearchIDNumber">
                ID Number
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="ownerUniqueIdOptions | async"
                  name="ownerUniqueIdSearch"
                  [hideSelected]="true"
                  [minTermLength]="1"
                  [(ngModel)]="searchData.uniqueId"
                  [loading]="ownerUniqueIdOptionsLoading"
                  bindLabel="value.ar"
                  bindValue="key"
                  typeToSearchText="Please enter 1 or more characters"
                  notFoundText="لا يوجد نتائج للبحث"
                  [typeahead]="searchOwnerUniqueIdInput$"
                  #ownerUniqueIdSearch="ngModel"
                  (keyup)="setSearchType('uniqueId', $event)"
                  [disabled]="isSearchBy('term')"
                  (blur)="checkTypeAndValues('uniqueId')"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary" [disabled]="isSearchFormValid()" i18n="@@customerProfileSearchButton">Search</button>
      </div>
    </form>

    <hr/>

    <form class="form-horizontal" (ngSubmit)="updateData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
      <div class="card-body"> <div class="row mb-4">
          <div class="col-sm-10 d-flex align-items-center rtl">
            <h3>Profile</h3>
          </div>
          <div class="text-center col-sm-2 gallery-wrapper profile-user-img img-fluid img-circle">
            <app-media-gallery [medias]="getAttachments()"></app-media-gallery>
            <!-- <img class="profile-user-img img-fluid img-circle"
                src="assets/images/user4-128x128.jpg"
                alt="User profile picture"> -->
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileCustomerId">Customer ID</label>
              <div class="col-sm-9">
                <input name="customerId" type="text" class="form-control disabled" numbersOnly precision="0" [(ngModel)]="formData.id" readonly="true">
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="offset-sm-2 col-sm-10 placeholder">
              <div class="form-check float-right">
                <input name="isDead" type="checkbox" class="form-check-input" [(ngModel)]="formData.isDead">
                <label class="form-check-label" i18n="@@customerProfileDeceased">Deceased</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="formData.isDead">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileDateOfDeath">Date of Death
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <input type="text"
                  class="form-control"
                  name="dateOfDeath"
                  [(ngModel)]="formData.dateOfDeath"
                  (dateTimeChange)="formatDate('dateOfDeath')"
                  required="true"
                  [max]="minDate"
                  [owlDateTime]="dt7"
                  [owlDateTimeTrigger]="dt7"
                  #dateOfDeath="ngModel"
                >
                <owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>
                <div class="alert alert-danger" *ngIf="dateOfDeath.invalid && (dateOfDeath.dirty || dateOfDeath.touched) && dateOfDeath.errors?.required">
                  Date of Death can not be blank
                </div>
                <div class="alert alert-danger" *ngIf="dateOfDeath.invalid && dateOfDeath.errors?.owlDateTimeMax">
                  Enter valid Date of Death
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileNameInArabic">Name In Arabic
                <span *ngIf="isOneOrOtherNameRequired('nameAr')">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text" name="nameAr" [required]="isOneOrOtherNameRequired('nameAr')" class="form-control" [(ngModel)]="formData.nameAr" #nameAr="ngModel">
                <div *ngIf="nameAr.invalid && (nameAr.dirty || nameAr.touched)" class="alert alert-danger">
                  <div *ngIf="nameAr.errors?.required">
                    Name in Arabic can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileNameInEnglish">Name in English
                <span *ngIf="isOneOrOtherNameRequired('nameEn')">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text" name="nameEn" [required]="isOneOrOtherNameRequired('nameEn')" class="form-control" [(ngModel)]="formData.nameEn" #nameEn="ngModel">
                <div *ngIf="nameEn.invalid && (nameEn.dirty || nameEn.touched)" class="alert alert-danger">
                  <div *ngIf="nameEn.errors?.required">
                    Name in English can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileEmiratesID">Emirates ID</label>
              <div class="col-sm-9">
                <input name="emiratesId" type="text" [minlength]="15" class="form-control" [(ngModel)]="formData.emiratesId" pattern="^784[0-9]*" #emiratesId="ngModel" numbersOnly precision="0">
                <div *ngIf="emiratesId.invalid && (emiratesId.dirty || emiratesId.touched)" class="alert alert-danger">
                  <div *ngIf="emiratesId.errors?.pattern || emiratesId.errors?.minlength">
                    Enter valid Emirates Id
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>

        <div class="form-group row" *ngIf="formData.emiratesId">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileEmiratesIDissuancedate">Emirates ID issuance date
              </label>
              <div class="col-sm-9">
                <input type="text"
                name="emiratesIdIssueDate"
                class="form-control"
                (dateTimeChange)="formatDate('emiratesIdIssueDate')"
                [(ngModel)]="formData.emiratesIdIssueDate"
                [max]="minDate"
                [owlDateTime]="dt6"
                [owlDateTimeTrigger]="dt6"
                #emiratesIdIssueDate="ngModel"
                >
                <owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
                <div class="alert alert-danger" *ngIf="emiratesIdIssueDate.invalid && emiratesIdIssueDate.errors?.owlDateTimeMax">
                  Enter valid Emirates ID expiry date
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileEmiratesIDexpirydate">Emirates ID expiry date
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <input type="text"
                  name="emiratesIdExpiryDate"
                  class="form-control"
                  [(ngModel)]="formData.emiratesIdExpiryDate"
                  (dateTimeChange)="formatDate('emiratesIdExpiryDate')"
                  required="true"
                  [min]="minDate"
                  [owlDateTime]="dt4"
                  [owlDateTimeTrigger]="dt4"
                  #emiratesIdExpiryDate="ngModel"
                >
                <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                <div class="alert alert-danger" *ngIf="emiratesIdExpiryDate.invalid && (emiratesIdExpiryDate.dirty || emiratesIdExpiryDate.touched) && emiratesIdExpiryDate.errors?.required">
                  Emirates ID expiry date can not be blank
                </div>
                <div class="alert alert-danger" *ngIf="emiratesIdExpiryDate.invalid && emiratesIdExpiryDate.errors?.owlDateTimeMin">
                  Enter valid Emirates ID expiry date
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfilePassportnumber">Passport number</label>
              <div class="col-sm-9">
                <input name="passportNumber" type="text" class="form-control" [(ngModel)]="formData.passportNumber">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>

        <div class="form-group row" *ngIf="formData.passportNumber">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfilePassportnumberissuancedate">Passport number issuance date
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <input type="text"
                  class="form-control"
                  name="passportIssueDate"
                  (dateTimeChange)="formatDate('passportIssueDate')"
                  required="true"
                  [(ngModel)]="formData.passportIssueDate"
                  [max]="minDate"
                  [owlDateTime]="dt5"
                  [owlDateTimeTrigger]="dt5"
                  #passportIssueDate="ngModel"
                >
                <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
                
                <div class="alert alert-danger" *ngIf="passportIssueDate.invalid && (passportIssueDate.dirty || passportIssueDate.touched) && passportIssueDate.errors?.required">
                  Passport number issuance date can not be blank
                </div>
                <div class="alert alert-danger" *ngIf="passportIssueDate.invalid && passportIssueDate.errors?.owlDateTimeMax">
                  Enter Valid Passport number issuance date
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfilePassportnumberexpirydate">Passport number expiry date
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <input type="text"
                  class="form-control"
                  name="passportExpiryDate"
                  required="true"
                  (dateTimeChange)="formatDate('passportExpiryDate')"
                  [(ngModel)]="formData.passportExpiryDate"
                  [min]="minDate"
                  [owlDateTime]="dt3"
                  [owlDateTimeTrigger]="dt3"
                  #passportExpiryDate="ngModel"
                >
                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                
                <div class="alert alert-danger" *ngIf="passportExpiryDate.invalid && (passportExpiryDate.dirty || passportExpiryDate.touched) && passportExpiryDate.errors?.required">
                  Passport number expiry date can not be blank
                </div>
                <div class="alert alert-danger" *ngIf="passportExpiryDate.invalid &&  passportExpiryDate.errors?.owlDateTimeMin">
                  Enter Valid Passport number expiry date
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileOtherdecrees">Other (decrees ..)</label>
              <div class="col-sm-9">
                <input type="text" name="otherId" class="form-control" [(ngModel)]="formData.otherId">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row" *ngIf="formData.otherId">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileOtherdocumenttype">Other (document type)
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  required="true"
                  [items]="otherIdTypesOptions"
                  name="otherIdTypeId"
                  [(ngModel)]="formData.otherIdTypeId"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #otherIdTypeId="ngModel"
                >
                </ng-select>
                <div *ngIf="otherIdTypeId.invalid && (otherIdTypeId.dirty || otherIdTypeId.touched)" class="alert alert-danger">
                  <div *ngIf="otherIdTypeId.errors?.required">
                    Other (document type) can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileMobileNumber">Mobile Number
                <span *ngIf="isRequired()">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text" name="mobileNumber" [maxLength]="17" [required]="isRequired()" class="form-control" [(ngModel)]="formData.phone" #mobileNumber="ngModel" numbersOnly precision="0" pattern="[0-9]*" >
                <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="alert alert-danger">
                  <div *ngIf="mobileNumber.errors?.required">
                    Mobile Number can not be blank
                  </div>

                  <div *ngIf="mobileNumber.errors?.pattern">
                    Enter Valid Mobile Number
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileDateofBirth">Date of Birth
                <span *ngIf="isRequired()">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text"
                  class="form-control"
                  name="dateOfBirth"
                  [(ngModel)]="formData.dateOfBirth"
                  (dateTimeChange)="formatDate('dateOfBirth')"
                  [required]="isRequired()"
                  [max]="minDate"
                  [owlDateTime]="dt1"
                  [owlDateTimeTrigger]="dt1"
                  #dateOfBirth="ngModel"
                >
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                <div class="alert alert-danger" *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched) && dateOfBirth.errors?.required">
                  Date of Birth can not be blank
                </div>
                <div class="alert alert-danger" *ngIf="dateOfBirth.invalid && dateOfBirth.errors?.owlDateTimeMax">
                  Enter valid Date of Birth
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileGender">Gender
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  required="true"
                  [items]="genderOptions"
                  name="gender"
                  [(ngModel)]="formData.gender"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #gender="ngModel"
                >
                </ng-select>
                <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                  <div *ngIf="gender.errors?.required">
                    Gender can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileNationality">Nationality
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  required="true"
                  [items]="nationalitiesOptions"
                  name="nationality"
                  [(ngModel)]="formData.nationalityCode"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #nationality="ngModel"
                >
                </ng-select>
                <div *ngIf="nationality.invalid && (nationality.dirty || nationality.touched)" class="alert alert-danger">
                  <div *ngIf="nationality.errors?.required">
                    Nationality can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileCustomercategory">Customer category
                <span *ngIf="isRequired()">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [required]="isRequired()"
                  [items]="customerCategoryOptions"
                  name="customerCategory"
                  [(ngModel)]="formData.customerCategoryId"
                  multiple="true"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #customerCategory="ngModel"
                >
                </ng-select>
                <div *ngIf="customerCategory.invalid && (customerCategory.dirty || customerCategory.touched)" class="alert alert-danger">
                  <div *ngIf="customerCategory.errors?.required">
                    Customer category can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row" *ngIf="isCustomerDisabled()">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileTypeofDisability">Type of Disability
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  required="true"
                  [items]="disabilityTypesOptions"
                  name="typeOfDisability"
                  [(ngModel)]="formData.typeOfDisability"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #typeOfDisability="ngModel"
                >
                </ng-select>
                <div *ngIf="typeOfDisability.invalid && (typeOfDisability.dirty || typeOfDisability.touched)" class="alert alert-danger">
                  <div *ngIf="typeOfDisability.errors?.required">
                    Type of Disability can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileDoyouhavetaxnumber">Do you have a tax number?
                <span *ngIf="isRequired()">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [required]="isRequired()"
                  [items]="booleanOptions"
                  name="hasTaxNumber"
                  [(ngModel)]="formData.hasTrx"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #hasTrx="ngModel"
                >
                </ng-select>
                <div *ngIf="hasTrx.invalid && (hasTrx.dirty || hasTrx.touched)" class="alert alert-danger">
                  <div *ngIf="hasTrx.errors?.required">
                    Can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>


        <div class="form-group row" *ngIf="hasTaxNumber()">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileTaxNumber">Tax Number
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <input name="trxId" required="true" type="text" class="form-control" [(ngModel)]="formData.trxId" #trxId="ngModel">
                <div *ngIf="trxId.invalid && (trxId.dirty || trxId.touched)" class="alert alert-danger">
                  <div *ngIf="trxId.errors?.required">
                    Tax Number can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileEmirate">Emirate
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="emiratesOptions"
                  name="trxEmirateId"
                  required="true"
                  [(ngModel)]="formData.trxEmirateId"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #trxEmirateId="ngModel"
                >
                </ng-select>
                <div *ngIf="trxEmirateId.invalid && (trxEmirateId.dirty || trxEmirateId.touched)" class="alert alert-danger">
                  <div *ngIf="trxEmirateId.errors?.required">
                    Emirate can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileHomeAddress">Home Address</label>
              <div class="col-sm-9">
                <textarea
                  name="address"
                  class="form-control"
                  rows="3"
                  [(ngModel)]="formData.address"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileGeneralNotes">General Notes</label>
              <div class="col-sm-9">
                <textarea
                  name="remarks"
                  class="form-control"
                  rows="3"
                  [(ngModel)]="formData.remarks"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileEmail">Email</label>
              <div class="col-sm-9">
                <input name="email" type="email" class="form-control" [(ngModel)]="formData.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="email.errors?.pattern">
                    Enter valid Email
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileMobileNumber2">Mobile Number 2</label>
              <div class="col-sm-9">
                <input name="phone2" type="text" [maxLength]="17" class="form-control" [(ngModel)]="formData.phone2" numbersOnly precision="0" pattern="[0-9]*" #phone2="ngModel">
                <div *ngIf="phone2.invalid && (phone2.dirty || phone2.touched)" class="alert alert-danger">
                  <div *ngIf="phone2.errors?.pattern">
                    Enter Valid Mobile Number 2
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfilePreferredtimetocommunicate">Preferred time to communicate</label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="timeToContactOptions"
                  name="timeToContactPreferencesId"
                  [(ngModel)]="formData.timeToContactPreferencesId"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfilePreferredwaytocommunicate">Preferred way to communicate</label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="contactPerferencesOptions"
                  name="contactPreferencesTypeId"
                  [(ngModel)]="formData.contactPreferencesTypeId"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileEmployer">Employer</label>
              <div class="col-sm-9">
                <input name="employer" type="text" class="form-control" [(ngModel)]="formData.employer">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileJobTitle">Job Title</label>
              <div class="col-sm-9">
                <input name="jobTitle" type="text" class="form-control" [(ngModel)]="formData.jobTitle">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-check float-right">
              <input name="isResident" type="checkbox" class="form-check-input" [(ngModel)]="formData.isResident">
              <label class="form-check-label" i18n="@@customerProfileIsResident">Is Resident</label>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileCountryofresidence">Country of residence</label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="nationalitiesOptions"
                  name="countryOfResidence"
                  [(ngModel)]="formData.countryOfResidence"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #countryOfResidence="ngModel"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@customerProfileCityofresidenceinUAE">City of residence in UAE</label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="emiratesOptions"
                  name="emirateId"
                  [(ngModel)]="formData.emirateId"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-10 col-form-label" i18n="@@customerProfileSignature">Signature</label>
              <div class="text-center col-sm-2 gallery-wrapper">
                <app-media-gallery [medias]="getSignatureAttachments()"></app-media-gallery>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary float-left" [disabled]="f.invalid || !isValid()" i18n="@@formSubmitLabel">Submit</button>
      </div>
    </form>
  </div>
</section>