<div *ngIf="getFieldType() == 'date'">
  <div class="d-flex">
    <input type="text"
      class="form-control"
      [class]="customClass"
      [placeholder]="getText(field, 'placeholder') || 'DD/MM/YYYY'"
      [required]="isRequired()"
      [name]="getName(field.fieldName.en)"
      [id]="field.fieldID"
      [min]="getDate(field.auxInfo?.minLength)"
      [max]="getDate(field.auxInfo?.maxLength)"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
      [owlDateTime]="dt1"
      [owlDateTimeTrigger]="dt1"
      (dateTimeChange)="formatDate(field.fieldID)"
    >
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
  </div>
  <div class="alert alert-danger" *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) && ngModel.errors?.required">
    {{getText(field, 'errorMsg')}}
  </div>

  <div class="alert alert-danger" *ngIf="ngModel.invalid && (ngModel.errors?.owlDateTimeMax || ngModel.errors?.owlDateTimeMin)">
    {{getText(field, 'errorMsg')}}
  </div>

  <div class="alert alert-danger" *ngIf="showErrors(field.fieldID)">
    {{getErrors(field.fieldID)}}
  </div>
</div>

<div *ngIf="getFieldType() == 'datetime'">
  <div class="d-flex">
    <input type="text"
      class="form-control"
      [class]="customClass"
      [placeholder]="getText(field, 'placeholder') || 'DD/MM/YYYY'"
      [required]="isRequired()"
      [name]="getName(field.fieldName.en)"
      [id]="field.fieldID"
      [min]="getDate(field.auxInfo?.minLength)"
      [max]="getDate(field.auxInfo?.maxLength)"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
      [owlDateTime]="dt2"
      [owlDateTimeTrigger]="dt2"
    >
    <owl-date-time #dt2></owl-date-time>
  </div>

  <div class="alert alert-danger" *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) && ngModel.errors?.required">
    {{getText(field, 'errorMsg')}}
  </div>

  <div class="alert alert-danger" *ngIf="ngModel.invalid && (ngModel.errors?.owlDateTimeMax || ngModel.errors?.owlDateTimeMin)">
    {{getText(field, 'errorMsg')}}
  </div>

  <div class="alert alert-danger" *ngIf="showErrors(field.fieldID)">
    {{getErrors(field.fieldID)}}
  </div>
</div>

<div *ngIf="getFieldType() == 'daterange'">
  <div class="d-flex">
    <input type="text"
      class="form-control"
      [class]="customClass"
      [placeholder]="getText(field, 'placeholder') || 'DD/MM/YYYY'"
      [required]="isRequired()"
      [name]="getName(field.fieldName.en)"
      [id]="field.fieldID"
      [min]="getDate(field.auxInfo?.minLength)"
      [max]="getDate(field.auxInfo?.maxLength)"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
      [owlDateTime]="dt3"
      [owlDateTimeTrigger]="dt3"
      [selectMode]="'range'"
    >
    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
  </div>
  <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) && ngModel.errors?.required">
    {{getText(field, 'errorMsg')}}
  </div>

  <div class="alert alert-danger" *ngIf="ngModel.invalid && (ngModel.errors?.owlDateTimeMax || ngModel.errors?.owlDateTimeMin)">
    {{getText(field, 'errorMsg')}}
  </div>

  <div *ngIf="showErrors(field.fieldID)">
    {{getErrors(field.fieldID)}}
  </div>
</div>
