<div *ngIf="field.auxInfo.type == 'date'">
  <div class="d-flex">
    <input type="text"
      class="form-control"
      [class]="customClass"
      [placeholder]="getText(field, 'placeholder') || 'DD/MM/YYYY'"
      [required]="isRequired()"
      [name]="getName(field.fieldName.en)"
      [id]="field.fieldID"
      [min]="field.auxInfo?.minLength"
      [max]="field.auxInfo?.maxLength"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
      [owlDateTime]="dt1"
      [owlDateTimeTrigger]="dt1"
    >
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
  </div>
  <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) || showErrors(field.fieldID)" class="alert alert-danger">
    <div *ngIf="ngModel.errors?.required">
      {{getText(field, 'errorMsg')}}
    </div>

    <div *ngIf="showErrors(field.fieldID)">
      {{getErrors(field.fieldID)}}
    </div>
  </div>
</div>

<div *ngIf="field.auxInfo.type == 'datetime'">
  <div class="d-flex">
    <input type="text"
      class="form-control"
      [class]="customClass"
      [placeholder]="getText(field, 'placeholder') || 'DD/MM/YYYY'"
      [required]="isRequired()"
      [name]="getName(field.fieldName.en)"
      [id]="field.fieldID"
      [min]="field.auxInfo?.minLength"
      [max]="field.auxInfo?.maxLength"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
      [owlDateTime]="dt2"
      [owlDateTimeTrigger]="dt2"
    >
    <owl-date-time #dt2></owl-date-time>
  </div>
  <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) || showErrors(field.fieldID)" class="alert alert-danger">
    <div *ngIf="ngModel.errors?.required">
      {{getText(field, 'errorMsg')}}
    </div>

    <div *ngIf="showErrors(field.fieldID)">
      {{getErrors(field.fieldID)}}
    </div>
  </div>
</div>

<div *ngIf="field.auxInfo.type == 'daterange'">
  <div class="d-flex">
    <input type="text"
      class="form-control"
      [class]="customClass"
      [placeholder]="getText(field, 'placeholder') || 'DD/MM/YYYY'"
      [required]="isRequired()"
      [name]="getName(field.fieldName.en)"
      [id]="field.fieldID"
      [min]="field.auxInfo?.minLength"
      [max]="field.auxInfo?.maxLength"
      [(ngModel)]="formData[field.fieldID]"
      #ngModel="ngModel"
      [owlDateTime]="dt3"
      [owlDateTimeTrigger]="dt3"
      [selectMode]="'range'"
    >
    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
  </div>
  <div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) || showErrors(field.fieldID)" class="alert alert-danger">
    <div *ngIf="ngModel.errors?.required">
      {{getText(field, 'errorMsg')}}
    </div>

    <div *ngIf="showErrors(field.fieldID)">
      {{getErrors(field.fieldID)}}
    </div>
  </div>
</div>
