<div class="col-md-12">
  <div class="row">
    <div class="col-sm-12">
      <label>Commit Data</label>
      <ng-select class="rtl" [items]="dataOptions" name="commitType" [(ngModel)]="commitType" bindLabel="name" bindValue="id"></ng-select>

      <button type="button" (click)="addRow()" class="btn btn-sm btn-primary">add</button>
    </div>
  </div>

  <div class="row" *ngIf="formData.commitData as commitData">
    <div class="col-sm-12" *ngIf="isEnumerator(commitData)">
      <div class="row" *ngFor="let commit of commitData | keyvalue; let i = index;">
        <div class="col-sm-12" >
          <div class="form-group row">
            <div class="col-sm-6">
              <label class="">Commit Id</label>
              <input class="form-control" type="text" placeholder="Enter Commit Id" [name]="'commitID_' + i" [(ngModel)]="commit.value.commitID"/>
            </div>

            <div class="col-sm-6">
              <label class="">Entity</label>
              <input class="form-control" type="text" placeholder="Enter Entity" [name]="'entity_' + i" [(ngModel)]="commit.value.entity"/>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [name]="'multiple_'+ i" [(ngModel)]="commit.value.multiple"/>
                <label class="form-check-label">multiple</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <app-values-generator [formData]="commit.value"></app-values-generator>
            </div>
          </div>

        </div>
        <div class="col-sm-12 mt-2">
          <button type="button" (click)="deleteRow(i)" class="btn btn-sm btn-danger" *ngIf="i != 0">Remove</button>
          <hr *ngIf="(commitData?.length - 1) !== i"/>
        </div>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="!isEnumerator(commitData)">
      <div class="row" *ngFor="let item of commitData | keyvalue">
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="col-sm-6">
              <label class="stepName">Commit Id</label>
              <input class="form-control" type="text" placeholder="Enter Commit Id" name="commitID" [(ngModel)]="item.value.commitID"/>
            </div>

            <div class="col-sm-6">
              <label class="">Entity</label>
              <input class="form-control" type="text" placeholder="Enter Entity" name="entity" [(ngModel)]="item.value.entity"/>
            </div>
          </div>

          <div class="form-group row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="multiple" [(ngModel)]="item.value.multiple"/>
              <label class="form-check-label">multiple</label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <app-values-generator [formData]="item.value"></app-values-generator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
