<div class="login-page">
  <div class="login-box rtl">
    <div class="login-logo">
      <a href="/"><b>Hilux</b>Login</a>
    </div>
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Login</h3>
      </div>
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm-12 p-5">
            <form  class="rtl" (ngSubmit)="login(formData)" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="exampleInputEmail1" i18n="@@loginEmailAddressLabel">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="formData.email">
                <small id="emailHelp" class="form-text text-muted" i18n='@@loginEmailhelp'>We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" i18n="@@loginpasswordLabel">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="formData.password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" name="check" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"i18n='@@checkMeOut'>Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary" i18n='="@@submit' >Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

