<div class="content-wrapper">
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" *ngIf="profile$ | async as profile">
          <div class="card card-purple">
            <div class="card-header">
                <h3 class="card-title">إضافة مشروع جديد</h3>
            </div>
            <section class="content" *ngIf="formData && !formData.id">
              <div class="container-fluid">
                <app-alerts [errors]="formErrors"></app-alerts>
                <form class="form-horizontal" (ngSubmit)="saveData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileDeveloper">Developer
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              required="true"
                              [items]="developerOptions | async"
                              name="developer" [hideSelected]="true"
                              [(ngModel)]="formData.developerId" [typeahead]="developerSearchInput$"
                              bindLabel="value.ar" [minTermLength]="4"
                              bindValue="key" [loading]="developerDataOptionsLoading"
                              notFoundText="لا يوجد نتائج للبحث" typeToSearchText="Please enter 4 or more characters"
                              #developer="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="developer.invalid && (developer.dirty || developer.touched)" class="alert alert-danger">
                              <div *ngIf="developer.errors?.required">
                                Developer can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNameInArabic">Name In Arabic
                            <span *ngIf="isOneOrOtherNameRequired('nameAr')">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="nameAr" [required]="isOneOrOtherNameRequired('nameAr')" class="form-control" [(ngModel)]="formData.nameAr" #nameAr="ngModel">
                            <div *ngIf="nameAr.invalid && (nameAr.dirty || nameAr.touched)" class="alert alert-danger">
                              <div *ngIf="nameAr.errors?.required">
                                Name in Arabic can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNameInEnglish">Name in English
                            <span *ngIf="isOneOrOtherNameRequired('nameEn')">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="nameEn" [required]="isOneOrOtherNameRequired('nameEn')" class="form-control" [(ngModel)]="formData.nameEn" #nameEn="ngModel">
                            <div *ngIf="nameEn.invalid && (nameEn.dirty || nameEn.touched)" class="alert alert-danger">
                              <div *ngIf="nameEn.errors?.required">
                                Name in English can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      بيانات المشروع الرئيسية
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileisMain">
                            Is Main
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              required="true"
                              [items]="isMainOptions"
                              name="isMain"
                              [(ngModel)]="formData.isMain"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #isMain="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="isMain.invalid && (isMain.dirty || isMain.touched)" class="alert alert-danger">
                              <div *ngIf="isMain.errors?.required">
                                Is Main can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row" *ngIf="isNotMain()">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileMainProject">Main Project
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="projectsOptions | async"
                              required="true"
                              name="mainProject" [hideSelected]="true"
                              [(ngModel)]="formData.mainProjectId" [minTermLength]="4"
                              bindLabel="value.ar" typeToSearchText="Please enter 4 or more characters"
                              bindValue="key" [typeahead]="projectsSearchInput$"
                              notFoundText="لا يوجد نتائج للبحث" [loading]="projectDataOptionsLoading"
                              #mainProject="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="mainProject.invalid && (mainProject.dirty || mainProject.touched)" class="alert alert-danger">
                              <div *ngIf="mainProject.errors?.required">
                                Main Project can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingNameInArabic">Building Name In Arabic
                            <span *ngIf="isNotMain()">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="buildingNameAr" [required]="isNotMain()" class="form-control" [(ngModel)]="formData.buildingNameAr" #buildingNameAr="ngModel">
                            <div *ngIf="buildingNameAr.invalid && (buildingNameAr.dirty || buildingNameAr.touched)" class="alert alert-danger">
                              <div *ngIf="buildingNameAr.errors?.required">
                                Building Name in Arabic can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingNameInEnglish">Building Name in English
                            <span *ngIf="isNotMain()">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="buildingNameEn" [required]="isNotMain()" class="form-control" [(ngModel)]="formData.buildingNameEn" #buildingNameEn="ngModel">
                            <div *ngIf="buildingNameEn.invalid && (buildingNameEn.dirty || buildingNameEn.touched)" class="alert alert-danger">
                              <div *ngIf="buildingNameEn.errors?.required">
                                Building Name in English can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingNumber">Building Number
                            <span *ngIf="isNotMain()">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="buildingNumber" [required]="isNotMain()" class="form-control" [(ngModel)]="formData.buildingNumber" #buildingNumber="ngModel">
                            <div *ngIf="buildingNumber.invalid && (buildingNumber.dirty || buildingNumber.touched)" class="alert alert-danger">
                              <div *ngIf="buildingNumber.errors?.required">
                                Building Number can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingCode">Building Code
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="buildingCode" class="form-control" [(ngModel)]="formData.buildingCode" #buildingCode="ngModel">
                            <div *ngIf="buildingCode.invalid && (buildingCode.dirty || buildingCode.touched)" class="alert alert-danger">
                              <div *ngIf="buildingCode.errors?.required">
                                Building Code can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileParcelId">
                            Parcel Id
                            <span *ngIf="isNotMain()">*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [required]="isNotMain()"
                              [items]="landsoptions | async"
                              name="parcelId" [hideSelected]="true"
                              [(ngModel)]="formData.landId" [typeahead]="landSearchInput$"
                              bindLabel="value.ar" [minTermLength]="4"
                              bindValue="key" [loading]="landDataOptionsLoading"
                              notFoundText="لا يوجد نتائج للبحث" typeToSearchText="Please enter 4 or more characters"
                              #parcelId="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="parcelId.invalid && (parcelId.dirty || parcelId.touched)" class="alert alert-danger">
                              <div *ngIf="parcelId.errors?.required">
                                Parcel Id can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileDevPartNumber">Dev Part Number
                          </label>
                          <div class="col-sm-9">
                            <input type="text" name="devPartNumber" class="form-control" [(ngModel)]="formData.devPartNumber" #devPartNumber="ngModel">
                            <div *ngIf="devPartNumber.invalid && (devPartNumber.dirty || devPartNumber.touched)" class="alert alert-danger">
                              <div *ngIf="devPartNumber.errors?.required">
                                Dev Part Number can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileProjectType">Project Type
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="projectsTypesOptions"
                              name="projectType"
                              [(ngModel)]="formData.projectTypeId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #projectType="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="projectType.invalid && (projectType.dirty || projectType.touched)" class="alert alert-danger">
                              <div *ngIf="projectType.errors?.required">
                                Project Type can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileCompletionCertificateDate">Completion Certificate Date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                            name="completionCertificateDate"
                            class="form-control"
                            (dateTimeChange)="formatDate('completionCertificateDate')"
                            [(ngModel)]="formData.completionCertificateDate"
                            [owlDateTime]="dt6"
                            [owlDateTimeTrigger]="dt6"
                            #completionCertificateDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileTotalBuiltUpArea">Total Built Up Area
                          </label>
                          <div class="col-sm-9">
                            <input name="totalBuiltUpArea" type="text" class="form-control" [(ngModel)]="formData.totalBuiltUpArea" #totalBuiltUpArea="ngModel" numbersOnly precision="2">
                            <div *ngIf="totalBuiltUpArea.invalid && (totalBuiltUpArea.dirty || totalBuiltUpArea.touched)" class="alert alert-danger">
                              <div *ngIf="totalBuiltUpArea.errors?.pattern || totalBuiltUpArea.errors?.minlength">
                                Enter valid Total Built Up Area
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileMeterTotalArea">Meter Total Area
                          </label>
                          <div class="col-sm-9">
                            <input name="meterTotalArea" (change)="calculateJointSoldArea()" type="text" class="form-control" [(ngModel)]="formData.meterTotalArea" #meterTotalArea="ngModel" numbersOnly precision="2">
                            <div *ngIf="meterTotalArea.invalid && (meterTotalArea.dirty || meterTotalArea.touched)" class="alert alert-danger">
                              <div *ngIf="meterTotalArea.errors?.minlength">
                                Enter valid Meter Total Area
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileMeterNetArea">Meter Net Area</label>
                          <div class="col-sm-9">
                            <input name="meterNetArea" type="text" (change)="calculateJointSoldArea()" class="form-control" [(ngModel)]="formData.meterNetArea" #meterNetArea="ngModel" numbersOnly precision="2">
                            <div *ngIf="meterNetArea.invalid && (meterNetArea.dirty || meterNetArea.touched)" class="alert alert-danger">
                              <div *ngIf="meterNetArea.errors?.pattern || meterNetArea.errors?.minlength">
                                Enter valid Meter Net Area
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileMeterJointArea">Meter Joint Area</label>
                          <div class="col-sm-9">
                            <input name="meterJointArea" type="text" class="form-control" [(ngModel)]="formData.meterJointArea" #meterJointArea="ngModel" numbersOnly precision="2">
                            <div *ngIf="meterJointArea.invalid && (meterJointArea.dirty || meterJointArea.touched)" class="alert alert-danger">
                              <div *ngIf="meterJointArea.errors?.pattern || meterJointArea.errors?.minlength">
                                Enter valid Meter Joint Area
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileLongitude">Longitude</label>
                          <div class="col-sm-9">
                            <input name="longitude" type="text" class="form-control" [(ngModel)]="formData.longitude" #longitude="ngModel" numbersOnly precision="5">
                            <div *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)" class="alert alert-danger">
                              <div *ngIf="longitude.errors?.pattern || longitude.errors?.minlength">
                                Enter valid Longitude
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileLatitude">Latitude</label>
                          <div class="col-sm-9">
                            <input name="latitude" type="text" class="form-control" [(ngModel)]="formData.latitude" #latitude="ngModel" numbersOnly precision="5">
                            <div *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)" class="alert alert-danger">
                              <div *ngIf="latitude.errors?.pattern || latitude.errors?.minlength">
                                Enter valid Latitude
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileAccountTrustee">Account Trustee
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="accountTrusteesOptions"
                              name="accountTrustee"
                              [(ngModel)]="formData.accountTrusteeId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #accountTrustee="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="accountTrustee.invalid && (accountTrustee.dirty || accountTrustee.touched)" class="alert alert-danger">
                              <div *ngIf="accountTrustee.errors?.required">
                                Account Trustee can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileEscrowAccountNumber">Escrow Account Number 
                          </label>
                          <div class="col-sm-9">
                            <input name="escrowAccountNumber" type="text" class="form-control" [(ngModel)]="formData.escrowAccountNumber" #escrowAccountNumber="ngModel" numbersOnly precision="0">
                            <div *ngIf="escrowAccountNumber.invalid && (escrowAccountNumber.dirty || escrowAccountNumber.touched)" class="alert alert-danger">
                              <div *ngIf="escrowAccountNumber.errors?.pattern || escrowAccountNumber.errors?.minlength">
                                Enter valid Escrow Account Number
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileAccountOpeningDate">Account Opening Date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                            name="accountOpeningDate"
                            class="form-control"
                            (dateTimeChange)="formatDate('accountOpeningDate')"
                            [(ngModel)]="formData.accountOpeningDate"
                            [owlDateTime]="dt7"
                            [owlDateTimeTrigger]="dt7"
                            #accountOpeningDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      تفاصيل المشروع 
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileRegistrationDate">Registration Date
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                            name="registrationDate"
                            class="form-control"
                            (dateTimeChange)="formatDate('registrationDate')"
                            [(ngModel)]="formData.registrationDate"
                            required="true"
                            [owlDateTime]="dt9"
                            [owlDateTimeTrigger]="dt9"
                            #registrationDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt9></owl-date-time>
                            <div *ngIf="registrationDate.invalid && (registrationDate.dirty || registrationDate.touched)" class="alert alert-danger">
                              <div *ngIf="registrationDate.errors?.required">
                                Registration Date can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileExpiryDate">Expiry Date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                              name="expiryDate"
                              class="form-control"
                              [(ngModel)]="formData.expiryDate"
                              (dateTimeChange)="formatDate('expiryDate')"
                              [owlDateTime]="dt41"
                              [owlDateTimeTrigger]="dt41"
                              #expiryDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt41></owl-date-time>
                            <div *ngIf="expiryDate.invalid && (expiryDate.dirty || expiryDate.touched)" class="alert alert-danger">
                              <div *ngIf="expiryDate.errors?.required">
                                Expiry Date can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingPermitNumber">Building permit number
                          </label>
                          <div class="col-sm-9">
                            <input name="buildingPermitNumber" type="text" class="form-control" [(ngModel)]="formData.buildingPermitNumber" #buildingPermitNumber="ngModel">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingPermitIssuanceDate">Building permit issuance date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                            name="buildingPermitIssuanceDate"
                            class="form-control"
                            (dateTimeChange)="formatDate('buildingPermitIssuanceDate')" [max]="minDate"
                            [(ngModel)]="formData.buildingPermitIssuanceDate"
                            [owlDateTime]="dt10"
                            [owlDateTimeTrigger]="dt10"
                            #buildingPermitIssuanceDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileBuildingPermitExpiryDate">Building permit expiry date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                              name="buildingPermitExpiryDate"
                              class="form-control"
                              [(ngModel)]="formData.buildingPermitExpiryDate"
                              (dateTimeChange)="formatDate('buildingPermitExpiryDate')" [min]="minDate"
                              [owlDateTime]="dt1"
                              [owlDateTimeTrigger]="dt1"
                              #buildingPermitExpiryDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileProjectStatus">Project Status
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="projectStatusOptions"
                              required="true"
                              name="projectStatus"
                              [(ngModel)]="formData.projectStatusId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث" (change)="setProjectCompletionPercentage()"
                              #projectStatus="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="projectStatus.invalid && (projectStatus.dirty || projectStatus.touched)" class="alert alert-danger">
                              <div *ngIf="projectStatus.errors?.required">
                                Project Status can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileProjectCompletionpercentage">Project Completion percentage
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input name="projectCompletionpercentage" type="text" class="form-control" required="true" [(ngModel)]="formData.projectCompletionpercentage" #projectCompletionpercentage="ngModel" numbersOnly precision="0" [disabled]="isProjectCompleted()">
                            <div *ngIf="projectCompletionpercentage.invalid && (projectCompletionpercentage.dirty || projectCompletionpercentage.touched)" class="alert alert-danger">
                              <div *ngIf="projectCompletionpercentage.errors?.pattern || projectCompletionpercentage.errors?.required">
                                Enter valid Project Completion Percentage
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileConsultant">Consultant
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="consultantsOptions"
                              name="consultant"
                              required="true"
                              [(ngModel)]="formData.consultantId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #consultant="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="consultant.invalid && (consultant.dirty || consultant.touched)" class="alert alert-danger">
                              <div *ngIf="consultant.errors?.required">
                                Consultant can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileConsultantContractValue">Consultant contract Value
                          </label>
                          <div class="col-sm-9">
                            <input name="consultantContractValue" type="text" class="form-control" [(ngModel)]="formData.consultantContractValue" #consultantContractValue="ngModel" numbersOnly precision="0">
                            <div *ngIf="consultantContractValue.invalid && (consultantContractValue.dirty || consultantContractValue.touched)" class="alert alert-danger">
                              <div *ngIf="consultantContractValue.errors?.pattern || consultantContractValue.errors?.minlength">
                                Enter valid Consultant contract Value
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileContractor">Contractor
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="contractorsOptions"
                              name="contractor"
                              required="true"
                              [(ngModel)]="formData.contractorId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #contractor="ngModel"
                            >
                            </ng-select>
                            <div *ngIf="contractor.invalid && (contractor.dirty || contractor.touched)" class="alert alert-danger">
                              <div *ngIf="contractor.errors?.required">
                                Contractor can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileContractorContractValue">Contractor contract Value
                          </label>
                          <div class="col-sm-9">
                            <input name="contractorContractValue" type="text" class="form-control" [(ngModel)]="formData.contractorContractValue" #contractorContractValue="ngModel" numbersOnly precision="0">
                            <div *ngIf="contractorContractValue.invalid && (contractorContractValue.dirty || contractorContractValue.touched)" class="alert alert-danger">
                              <div *ngIf="contractorContractValue.errors?.pattern || contractorContractValue.errors?.minlength">
                                Enter valid Contractor contract Value
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileContractorContractStartDate">Contractor Contract start Date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                            name="contractorContractStartDate"
                            class="form-control"
                            (dateTimeChange)="formatDate('contractorContractStartDate')"
                            [(ngModel)]="formData.contractorContractStartDate"
                            [owlDateTime]="dt12"
                            [owlDateTimeTrigger]="dt12"
                            #contractorContractStartDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileContractorContractEndDate">Contractor Contract End Date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                              name="contractorContractEndDate"
                              class="form-control"
                              [(ngModel)]="formData.contractorContractEndDate"
                              (dateTimeChange)="formatDate('contractorContractEndDate')"
                              [owlDateTime]="dt11"
                              [owlDateTimeTrigger]="dt11"
                              #contractorContractEndDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileActualStartDate">Actual Start Date
                          </label>
                          <div class="col-sm-9">
                            <input type="text"
                            name="actualStartDate"
                            class="form-control"
                            (dateTimeChange)="formatDate('actualStartDate')"
                            [(ngModel)]="formData.actualStartDate"
                            [owlDateTime]="dt14"
                            [owlDateTimeTrigger]="dt14"
                            #actualStartDate="ngModel"
                            >
                            <owl-date-time [pickerType]="'calendar'" #dt14></owl-date-time>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileTotalProjectCost">Total project cost
                          </label>
                          <div class="col-sm-9">
                            <input name="totalProjectCost" type="text" class="form-control" [(ngModel)]="formData.totalProjectCost" #totalProjectCost="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileTypeOfUse">Type of use
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="projectUsageTypesOptions"
                              name="typeOfUse"
                              [(ngModel)]="formData.typeOfUseId"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #typeOfUse="ngModel"
                            >
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileTechDescription">Tech Description
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <input name="techDescription" type="text" required="true" class="form-control" [(ngModel)]="formData.techDescription" #techDescription="ngModel">
                            <div *ngIf="techDescription.invalid && (techDescription.dirty || techDescription.touched)" class="alert alert-danger">
                              <div *ngIf="techDescription.errors?.required">
                                Tech Description can not be blank
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofElevators">Number of Elevators</label>
                          <div class="col-sm-9">
                            <input name="numberofElevators" type="text" class="form-control" [(ngModel)]="formData.numberofElevators" #numberofElevators="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofSwimmingPool">Number of Swimming Pool</label>
                          <div class="col-sm-9">
                            <input name="numberofSwimmingPool" type="text" class="form-control" [(ngModel)]="formData.numberofSwimmingPool" #numberofSwimmingPool="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofFloors">Number of Floors</label>
                          <div class="col-sm-9">
                            <input name="numberofFloors" type="text" class="form-control" [(ngModel)]="formData.numberofFloors" #numberofFloors="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofFlats">Number of Flats</label>
                          <div class="col-sm-9">
                            <input name="numberofFlats" type="text" class="form-control" [(ngModel)]="formData.numberofFlats" #numberofFlats="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofOffices">Number of Offices</label>
                          <div class="col-sm-9">
                            <input name="numberofOffices" type="text" class="form-control" [(ngModel)]="formData.numberofOffices" #numberofOffices="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofShops">Number of Shops</label>
                          <div class="col-sm-9">
                            <input name="numberofShops" type="text" class="form-control" [(ngModel)]="formData.numberofShops" #numberofShops="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@projectProfileNumberofCarParks">Number of Car Parks</label>
                          <div class="col-sm-9">
                            <input name="numberofCarParks" type="text" class="form-control" [(ngModel)]="formData.numberofCarParks" #numberofCarParks="ngModel" numbersOnly precision="0">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-left" [disabled]="f.invalid" i18n="@@formSubmitLabel">Submit</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
