.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 150px;
    min-height: 150px;
}

.img-circle {
    border-radius: 5%;
}

/* .placeholder {
    min-height: 38px;
} */
