<section class="content" *ngIf="profile$ | async as profile">
  <div class="container-fluid" 
  style="width: 75%; margin-right: 20%; justify-content:center;">
    <app-alerts [errors]="formErrors"></app-alerts>
    <form class="form-horizontal" (ngSubmit)="searchResourceData(searchData)" #sf="ngForm" enctype='multipart/form-data' novalidate>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@projectProfileSearchDeveloperName">Developer Name
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="developerNameOptions | async"
                  name="developerNameSearch"
                  [hideSelected]="true"
                  [minTermLength]="1"
                  required="true"
                  [(ngModel)]="searchData.searchDeveloperId"
                  [loading]="developerNameOptionsLoading"
                  bindLabel="value.ar"
                  bindValue="key"
                  typeToSearchText="Please enter 1 or more characters"
                  notFoundText="لا يوجد نتائج للبحث"
                  [typeahead]="searchDeveloperNameInput$"
                  #developerNameSearch="ngModel"
                  (change)="resetSearchProject()">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@projectProfileSearchProjectName">Project Name
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  class="rtl"
                  [items]="projectNameOptions | async"
                  name="projectNameSearch"
                  [hideSelected]="true"
                  [minTermLength]="1"
                  required="true"
                  [(ngModel)]="searchData.searchProjectId"
                  [loading]="projectNameOptionsLoading"
                  bindLabel="value.ar"
                  bindValue="key"
                  typeToSearchText="Please enter 1 or more characters"
                  notFoundText="لا يوجد نتائج للبحث"
                  [typeahead]="searchProjectNameInput$"
                  #projectNameSearch="ngModel">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary" [disabled]="sf.invalid" i18n="@@projectProfileSearchButton">Search</button>
      </div>
    </form>
    <hr/>
  </div>
</section>
