<div class="content-wrapper">
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" *ngIf="profile$ | async as profile">
          <div class="card card-purple">
            <div class="card-header">
                <h3 class="card-title">إضافة وحدة عقارية جديدة</h3>
            </div>

            <router-outlet></router-outlet>

            <section class="content" *ngIf="formData && !formData.id">
              <div class="container-fluid">
                <app-alerts [errors]="formErrors"></app-alerts>
                <form class="form-horizontal" (ngSubmit)="searchResourceData(searchData)" #sf="ngForm" enctype='multipart/form-data' novalidate>
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@unitProfileSearchDeveloperName">Developer Name
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="developerNameOptions | async"
                              name="developerNameSearch"
                              [hideSelected]="true"
                              [minTermLength]="1"
                              required="true"
                              [(ngModel)]="searchData.searchDeveloperId"
                              [loading]="developerNameOptionsLoading"
                              bindLabel="value.ar"
                              bindValue="key"
                              typeToSearchText="Please enter 1 or more characters"
                              notFoundText="لا يوجد نتائج للبحث"
                              [typeahead]="searchDeveloperNameInput$"
                              #developerNameSearch="ngModel"
                              (change)="resetSearchProject()"
                            >
                            </ng-select>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@unitProfileSearchProjectName">Project Name
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              class="rtl"
                              [items]="projectNameOptions | async"
                              name="projectNameSearch"
                              [hideSelected]="true"
                              [minTermLength]="1"
                              required="true"
                              [(ngModel)]="searchData.searchProjectId"
                              [loading]="projectNameOptionsLoading"
                              bindLabel="value.ar"
                              bindValue="key"
                              typeToSearchText="Please enter 1 or more characters"
                              notFoundText="لا يوجد نتائج للبحث"
                              [typeahead]="searchProjectNameInput$"
                              #projectNameSearch="ngModel"
                              (change)="resetUnitNumber()"
                            >
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" i18n="@@unitProfileSearchUnitNumber">Unit Number
                            <span>*</span>
                          </label>
                          <div class="col-sm-9">
                            <ng-select
                              required="true"
                              [items]="unitNumberOptions"
                              name="unitNumberSearch"
                              [(ngModel)]="searchData.searchUnitNumber"
                              bindLabel="value.ar"
                              bindValue="key"
                              notFoundText="لا يوجد نتائج للبحث"
                              #unitNumberSearch="ngModel"
                              (open)="loadUnitNumberOptions()"
                            >
                            </ng-select>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-sm-6">
                      </div>
                    </div>
                  </div>
            
                  <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="sf.invalid" i18n="@@unitProfileSearchButton">Search</button>
                  </div>
                </form>
            
                <hr/>

             
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
