<ng-select
  class="rtl"
  [items]="dataOptions | async"
  [class]="customClass"
  [required]="isRequired()"
  [name]="getName(field.fieldName.en)"
  [id]="field.fieldID"
  [(ngModel)]="formData[field.fieldID]"
  bindLabel="value.ar"
  bindValue="key"
  [placeholder]="getText(field, 'placeholder')"
  notFoundText="not found"
  [hideSelected]="true"
  [minTermLength]="4"
  [loading]="dataOptionsLoading"
  typeToSearchText="Please enter 4 or more characters"
  [typeahead]="searchInput$"
  (change)="setDisplayValue($event)"
  #ngModel="ngModel"
>
</ng-select>

<input type="hidden" [name]="getName(field.fieldName.en) + '_displayValue'" [(ngModel)]="formData[field.fieldID + '_displayValue']">

<div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) || showErrors(field.fieldID)"
    class="alert alert-danger">

  <div *ngIf="ngModel.errors?.required || ngModel.errors?.minlength">
    {{getText(field, 'errorMsg')}}
  </div>

  <div *ngIf="showErrors(field.fieldID)">
    {{getErrors(field.fieldID)}}
  </div>
</div>
