<table class="table table-bordered">
  <thead>                 
    <tr *ngFor="let dataOption of dataOptions | slice:0:1">
      <th *ngFor="let pair of dataOption.rowFields | keyvalue">{{pair.key}}</th>
      <th class="text-center">Selected</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let field_detail of dataOptions; let i = index">
      <td *ngFor="let item of field_detail.rowFields | keyvalue">{{item.value}}</td>
      <td class="text-center">
        <div class="form-check">
          <input class="form-check-input m-0"
            type="radio"
            [class]="customClass"
            [ngClass]="field.required ? 'ng-invalid' : ''"
            [required]="field.required"
            [value]="field_detail.entityID"
            [name]="getFieldName(field.fieldID, i)"
            [id]="field.fieldID"
            [(ngModel)]="formData[field.fieldID][field_detail.entityID]"
            #ngModel="ngModel"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>
