<aside class="main-sidebar sidebar-dark-primary elevation-4 bg-victoria">

    <!-- Sidebar -->
    <div class="sidebar" style="height:calc(100%);">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-5 pb-3 mb-5 d-flex">
            <div class="info">
                <a
                    href="#"
                    class="d-block"
                >
                {{isLoggedIn.data[0].firstname}}
                </a>
            </div>
        </div>
        <form
            action="#"
            method="get"
            class="sidebar-form"
        >
            <div class="input-group">
                <span class="input-group-btn">
                    <button
                        type="submit"
                        name="search"
                        id="search-btn"
                        class="btn btn-flat"
                    >
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                <input
                    [(ngModel)]="searchInput$"
                    [ngModelOptions]="{standalone: true}"
                    type="text"
                    class="form-control"
                    placeholder="بحث"
                    (keyup)="searchtServices()"
                >
            </div>
        </form>
        <nav class="mt-2">
            <ul
                class="nav nav-sidebar nav-pills flex-column nav-child-indent nav-collapse-hide-child nav-flat"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
                *ngIf="menuItems$ | async as menuItems"
            >
                <li
                    class="nav-item has-treeview"
                    (click)="toggleClass($event)"
                    [ngClass]="hideRoot(item.value) ? 'd-none' : 'block'"
                    *ngFor="let item of menuItems | keyvalue; let i = index"
                >
                    <a class="nav-link">
                        <img
                            class="nav-icon fas align-top"
                            src="{{getServiceProviderIcon(item.value)}}"
                        >
                        <p class="text-wrap">
                            {{getServiceProviderItem(item.value)}}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul
                        class="nav nav-treeview text-sm"
                        *ngIf="item.value.services"
                    >
                    <!-- [routerLink]="['/service', subItem.key]" -->

                        <li
                            class="nav-item"
                            *ngFor="let subItem of item.value.services | keyvalue"
                        >
                            <a class="nav-link"
                            (click)="navigateServicesName(subItem.key)"
                            >
                                <img
                                    class="nav-icon fas align-top ml-3"
                                    src="{{getServiceIcon(subItem.value)}}"
                                >

                                <p class="text-wrap pl-1">{{getServiceName(subItem.value)}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
