<aside class="main-sidebar sidebar-dark-primary elevation-4 bg-victoria">

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-5 pb-3 mb-5 d-flex">
            <div class="info">
                <a
                    href="#"
                    class="d-block"
                >
                    اسم الموظف
                </a>
            </div>
        </div>

        <nav class="mt-2">
            <ul
                class="nav nav-sidebar nav-pills flex-column nav-child-indent nav-collapse-hide-child nav-flat"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
                *ngIf="menuItems$ | async as menuItems"
            >
                <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
                <li
                    class="nav-item has-treeview"
                    (click)="toggleClass($event)"
                    [ngClass]="hideRoot(item.value) ? 'd-none' : 'block'"
                    *ngFor="let item of menuItems | keyvalue; let i = index"
                >
                    <a class="nav-link">
                        <i class="nav-icon fas fa-building align-top"></i>
                        <p class="text-wrap">
                            {{getServiceProviderItem(item.value)}}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul
                        class="nav nav-treeview text-sm"
                        *ngIf="item.value.services"
                    >
                        <li
                            class="nav-item"

                            [routerLink]="['/service', subItem.key]"
                            *ngFor="let subItem of item.value.services | keyvalue"
                        >
                            <a class="nav-link">
                                <li class="fas fa-circle nav-icon align-top"></li>
                                <p class="text-wrap pl-1">{{getServiceName(subItem.value)}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
