<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="m-2 text-dark">
          <h1>Units Excel Upload</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-purple">
        <div class="card-header">
          <!-- <h3 class="card-title">قائمة البحث</h3> -->
        </div>
        <app-alerts [errors]="formErrors"></app-alerts>

        <div class="col-sm-12">
          <div class="mt-4">
            <form class="form-horizontal" (ngSubmit)="searchData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Developer Name
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          [items]="developerOptions | async"
                          required="true"
                          name="developerId"
                          [hideSelected]="true"
                          [(ngModel)]="formData.developerId"
                          [typeahead]="developerSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="1"
                          bindValue="key"
                          [loading]="developerDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 1 or more characters"
                          #developer="ngModel"
                          (change)="resetProjectAndUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Project Name
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          required="true"
                          [items]="projectsOptions | async"
                          name="project"
                          [hideSelected]="true"
                          [(ngModel)]="formData.projectId"
                          [minTermLength]="1"
                          bindLabel="value.ar"
                          typeToSearchText="Please enter 1 or more characters"
                          bindValue="key"
                          [typeahead]="projectsSearchInput$"
                          notFoundText="لا يوجد نتائج للبحث"
                          [loading]="projectDataOptionsLoading"
                          #project="ngModel"
                          (change)="resetUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Unit ID
                      </label>
                      <div class="col-sm-9">
                        <ng-select

                          [items]="unitsOptions | async"
                          required="false"
                          name="units"
                          [hideSelected]="true"
                          [(ngModel)]="formData.unitId"
                          [typeahead]="unitsSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="1"
                          bindValue="key"
                          [loading]="unitsDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 1 or more characters"
                          #unitId="ngModel"
                        >
                        </ng-select>
                      </div>
                    </div>

                  </div>

                  <div class="col-sm-6">
                    
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Registration Type</label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          [items]="registrationTypeOptions"
                          name="registrationType"
                          [(ngModel)]="formData.registrationTypeId"
                          bindLabel="value.ar"
                          bindValue="key"
                          notFoundText="لا يوجد نتائج للبحث"
                          #registrationType="ngModel"
                          [clearable]="false"
                          >
                          </ng-select>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-sm-12">
                <div class="row ">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <hr/>

          <div class="resultsWrapper rtl" *ngIf="response?.length > 0">
            <div class="searchApplications">
              <div class="card">
                <div class="card-header border-0">
                  <div class="card-tools">
                    <button type="button" class="btn btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <h3 class="card-title float-right font-weight-bold">Results:</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label">
                          Unit Number:</label>
                        <div class="col-sm-9">
                          <ng-select
                            class="rtl"
                            [items]="unitNumberOptions"
                            name="unitNumber"
                            [(ngModel)]="filterData.unitNumber"
                            bindLabel="value.ar"
                            bindValue="key"
                            notFoundText="لا يوجد نتائج للبحث"
                            #unitNumber="ngModel"
                            (change)="filterResponse()"
                            [clearable]="false"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label">
                          Registration Type:</label>
                        <div class="col-sm-9">
                          <ng-select
                            class="rtl"
                            [items]="registrationTypeOptions"
                            name="registrationStatus"
                            [(ngModel)]="filterData.registrationStatus"
                            bindLabel="value.ar"
                            bindValue="value.ar"
                            notFoundText="لا يوجد نتائج للبحث"
                            #registrationStatus="ngModel"
                            [clearable]="false"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label">
                          Meter Total Sold Area:</label>
                        <div class="col-sm-9">
                          <ng-select
                            class="rtl"
                            [items]="meterTotalSoldAreaOptions"
                            name="meterTotalSoldArea"
                            [(ngModel)]="filterData.meterTotalSoldArea"
                            bindLabel="value.ar"
                            bindValue="key"
                            notFoundText="لا يوجد نتائج للبحث"
                            #meterTotalSoldArea="ngModel"
                            [clearable]="false"
                            (change)="filterResponse()"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                  </div>

                  <table class="table table-bordered landTable bg-white table-responsive" *ngIf="filterResponse()?.length > 0">
                    <thead>
                      <tr class="bg-grey">
                        <th>#</th>
                        <th>Unit Number</th>
                        <th>Owner Name</th>
                        <th>Meter Total Sold Area</th>
                        <th>Meter Net Sold Area</th>
                        <th>Meter Total Actual Area</th>
                        <th>Meter Net Actual Area</th>
                        <th>Site Plan</th>
                        <th>Payment Percentage</th>
                        <th>Unit Use</th>
                        <th>Unit Type</th>
                        <th>Registration Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item_detail of filterResponse(); let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ item_detail?.unitNumber }}</td>

                        <td>{{ getOwnersName(item_detail?.owners) }}</td>

                        <td>{{ item_detail?.meterTotalSoldArea }}</td>
                        <td>{{ item_detail?.meterNetSoldArea }}</td>

                        <td>{{ item_detail?.meterTotalActualArea }}</td>
                        <td>{{ item_detail?.meterNetActualArea }}</td>

                        <td>{{ item_detail?.sitePlan }}</td>
                        <td>{{ item_detail?.paymentPercentage }}</td>

                        <td>{{ item_detail?.unitUse }}</td>
                        <td>{{ item_detail?.unitType }}</td>
                        <td>{{ item_detail?.registrationStatus }}</td>
                      </tr>
                    </tbody>
                  </table>

                  <form class="form-horizontal" (ngSubmit)="uploadExcel(formData)" #uf="ngForm" enctype='multipart/form-data' novalidate>
                    <div class="col-sm-12 mt-3">
                      <div class="row">
                        <div class="col-sm-10">

                          <div class="row">
                            <div class="col-sm-12">
                              <div class="custom-file">
                                <input type="file"
                                  class="custom-file-input"
                                  name="upload"
                                  id="upload"
                                  multiple="false"
                                  (change)="updateControlLabel($event)"
                                  #ngModel="ngModel"
                                  [(ngModel)]="uploadData.upload"
                                  accept=".xlsx, .xls, .zip"
                                  required="true"
                                  />
                                <label class="custom-file-label" for="upload" #controlLabel>choose file</label>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <a [href]="getExcelLink()" target="_blank">units.xlsx</a>
                          </div>

                        </div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-primary" [disabled]="uf.invalid">Upload</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
          <div class="row" *ngIf="!response || filterResponse()?.length == 0">
            <div class="col-sm-12 text-center">
              <h4>No Unit data available</h4>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
