<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="m-2 text-dark">
          <h1 i18n="@@unitsExcelUploadHeader">Units Excel Upload</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-purple">
        <div class="card-header">
          <!-- <h3 class="card-title">قائمة البحث</h3> -->
        </div>
        <app-alerts [errors]="formErrors"></app-alerts>

        <div class="col-sm-12">
          <div class="mt-4">
            <form class="form-horizontal" (ngSubmit)="searchData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" i18n="@@unitsExcelUploadDeveloperName">Developer Name
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          [items]="developerOptions | async"
                          required="true"
                          name="developerId"
                          [hideSelected]="true"
                          [(ngModel)]="formData.developerId"
                          [typeahead]="developerSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="1"
                          bindValue="key"
                          [loading]="developerDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 1 or more characters"
                          #developer="ngModel"
                          (change)="resetProjectAndUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" i18n="@@unitsExcelUploadProjectName">Project Name
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          required="true"
                          [items]="projectsOptions | async"
                          name="project"
                          [hideSelected]="true"
                          [(ngModel)]="formData.projectId"
                          [minTermLength]="1"
                          bindLabel="value.ar"
                          typeToSearchText="Please enter 1 or more characters"
                          bindValue="key"
                          [typeahead]="projectsSearchInput$"
                          notFoundText="لا يوجد نتائج للبحث"
                          [loading]="projectDataOptionsLoading"
                          #project="ngModel"
                          (change)="resetUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row ">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid" i18n="@@unitsExcelUploadSearch">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <hr/>
          <dialog id="my-dialog">
            <div style="width: 800px;min-height: 100px;">
            <h3 style="text-align: center;">{{resMsg}}</h3>
            <div *ngIf="resErrors && resErrors.length > 0">
              <h5 style="direction: rtl;margin-right: 10px;" *ngFor="let item of resErrors let i = index">
               * {{item.unitNumber}}
                <p style="direction: rtl;margin-right: 15px;" *ngFor="let err of item.errors let i = index">
                 - {{err}}
                </p>
              </h5>
            </div>
            <form method="dialog" style="text-align: center;margin-top: 20px;">
              <button type="buttons" style="text-align: center;" (click)="closeDialog()" class="btn btn-primary"  i18n="@@ok">OK</button>
            </form>
            </div>
          </dialog>

          <form  *ngIf="response?.length > 0" class="form-horizontal" (ngSubmit)="uploadExcel(formData)" #uf="ngForm" enctype='multipart/form-data' novalidate>
            <div class="col-sm-12 mt-3">
              <div class="row">
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-3">
                      <label> تفاصيل الوحدات العقارية
                        <span>*</span>
                      </label>
                    </div>
                    <div class="col-sm-9">
                      <div class="custom-file">
                        <input type="file"
                          class="custom-file-input"
                          name="upload"
                          id="upload"
                          multiple="false"
                          (change)="updateControlLabel($event)"
                          #ngModel="ngModel"
                          [(ngModel)]="uploadData.upload"
                          accept=".xlsx, .xls, .zip"
                          required="true"
                          />
                        <label class="custom-file-label" for="upload" #controlLabel>choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary" [disabled]="uf.invalid || flagUpload" i18n="@@unitsExcelUploadUpload">Upload</button>
                </div>
              </div>

              <div class="row">
                <a [href]="getExcelLink()" target="_blank">units.xlsx</a>
              </div>
            </div>
          </form>

          <hr />

          <div class="resultsWrapper rtl" *ngIf="response?.length > 0">
            <div class="searchApplications">
              <div class="card">
                <div class="card-header border-0">
                  <div class="card-tools">
                    <button type="button" class="btn btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <h3 class="card-title float-right font-weight-bold" i18n="@@unitsExcelUploadResults">Results:</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label" i18n="@@unitsExcelUploadUnitNumber">
                          Unit Number:</label>
                        <div class="col-sm-9">
                          <ng-select
                            class="rtl"
                            [items]="unitNumberOptions"
                            name="unitNumber"
                            [(ngModel)]="filterData.unitNumber"
                            bindLabel="value.ar"
                            bindValue="key"
                            notFoundText="لا يوجد نتائج للبحث"
                            #unitNumber="ngModel"
                            (change)="filterResponse()"
                            [clearable]="false"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label" i18n="@@unitsExcelUploadRegistrationType">
                          Registration Type:</label>
                        <div class="col-sm-9">
                          <ng-select
                            class="rtl"
                            [items]="registrationTypeOptions"
                            name="registrationStatus"
                            [(ngModel)]="filterData.registrationStatus"
                            bindLabel="value.ar"
                            bindValue="value.ar"
                            notFoundText="لا يوجد نتائج للبحث"
                            #registrationStatus="ngModel"
                            [clearable]="false"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label" i18n="@@unitsExcelUploadMeterTotalSoldArea">
                          Meter Total Sold Area:</label>
                        <div class="col-sm-9">
                          <ng-select
                            class="rtl"
                            [items]="meterTotalSoldAreaOptions"
                            name="meterTotalSoldArea"
                            [(ngModel)]="filterData.meterTotalSoldArea"
                            bindLabel="value.ar"
                            bindValue="key"
                            notFoundText="لا يوجد نتائج للبحث"
                            #meterTotalSoldArea="ngModel"
                            [clearable]="false"
                            (change)="filterResponse()"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                  </div>

                  <table style="table-layout: fixed;" class="table table-bordered landTable bg-white table-responsive d-table" *ngIf="filterResponse()?.length > 0">
                    <thead>
                      <tr class="bg-grey">
                        <th>#</th>
                        <th i18n="@@unitsExcelUploadTableUnitNumber">Unit Number</th>
                        <th i18n="@@unitsExcelUploadTableOwnerName">Owner Name</th>
                        <th i18n="@@unitsExcelUploadTableMeterTotalSoldArea">Meter Total Sold Area</th>
                        <th i18n="@@unitsExcelUploadTableMeterNetSoldArea">Meter Net Sold Area</th>
                        <th i18n="@@unitsExcelUploadTableMeterTotalActualArea">Meter Total Actual Area</th>
                        <th i18n="@@unitsExcelUploadTableMeterNetActualArea">Meter Net Actual Area</th>
                        <th i18n="@@unitsExcelUploadTableSitePlan">Site Plan</th>
                        <th i18n="@@unitsExcelUploadTablePaymentPercentage">Payment Percentage</th>
                        <th i18n="@@unitsExcelUploadTableUnitUse">Unit Use</th>
                        <th i18n="@@unitsExcelUploadTableUnitType">Unit Type</th>
                        <th i18n="@@unitsExcelUploadTableRegistrationStatus">Registration Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item_detail of filterResponse(); let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ item_detail?.unitNumber }}</td>

                        <td>{{ getOwnersName(item_detail?.owners) }}</td>

                        <td>{{ item_detail?.meterTotalSoldArea }}</td>
                        <td>{{ item_detail?.meterNetSoldArea }}</td>

                        <td>{{ item_detail?.meterTotalActualArea }}</td>
                        <td>{{ item_detail?.meterNetActualArea }}</td>

                        <td> 
                          <a *ngIf="item_detail?.sitePlan" href="{{item_detail?.sitePlan}}" target="_blank">    <i style="color: #000;" class="fa fa-check"></i></a>
                          <a *ngIf="! item_detail?.sitePlan" href="{{item_detail?.sitePlan}}" target="_blank">    <i style="color: #000;" class="fa fa-times"></i></a>

                        </td>
                        <td>{{ item_detail?.paymentPercentage }}</td>

                        <td>{{ item_detail?.unitUse }}</td>
                        <td>{{ item_detail?.unitType }}</td>
                        <td>{{ item_detail?.registrationStatus }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div class="row" *ngIf="!response || filterResponse()?.length == 0">
            <div class="col-sm-12 text-center">
              <h4>No Unit data available</h4>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
