<li class="nav-item dropdown" *ngIf="notifications">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-danger navbar-badge" *ngIf="notifications?.length >0">{{notifications.length}}</span>
  </a>

  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notifications-menu" *ngIf="notifications?.length > 0">
    <div class="" *ngFor="let notification of notifications">
      <a (click)="performActionPerStatus(notification)" class="dropdown-item">
        <div class="media">
          <!-- <img src="assets/images/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle"> -->
          <span class="float-right text-sm mr-3" [ngClass]="getStatusClass(notification)"><i class="fas fa-star"></i></span>
          <div class="media-body">
            <div class="d-flex">
              <h3 class="dropdown-item-title">
                {{getItemText(notification.serviceDetails, 'serviceName')}}
              </h3>
            </div>
            <p class="text-sm">{{notification.stepDetails.status}}</p>
            <p class="text-sm text-muted">
              <i class="far fa-clock mr-1"></i>
              {{getTimeAvailable(notification) | timeAgo}}
            </p>
          </div>
        </div>
      </a>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notifications-menu" *ngIf="notifications?.length == 0">
      <a class="dropdown-item">
        <div class="media">
          <!-- <span class="float-right text-sm mr-3" [ngClass]="getStatusClass(notification)"><i class="fas fa-star"></i></span> -->
          <div class="media-body">
            <div class="d-flex">
              <h3 class="dropdown-item-title">
                No Notifications Available
              </h3>
            </div>
          </div>
        </div>
      </a>
      <div class="dropdown-divider"></div>
  </div>
</li>