<li class="nav-item dropdown" *ngIf="notifications">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-danger navbar-badge" *ngIf="notifications?.length >0">{{notifications.length}}</span>
  </a>

  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notifications-menu" >
    <div class="" *ngFor="let notification of notifications">
      <a (click)="performActionPerStatus(notification)" class="dropdown-item">
        <div class="media">
          <div class="media-body">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="dropdown-item-title">
                {{getItemText(notification.serviceDetails, 'serviceName')}}
              </h3>
              <div class="text-center align-middle">
                
                <span class="badge" [ngClass]="getStatusClass(notification)">{{notification.stepDetails.status}}</span>
              </div>
            </div>
            <p class="text-sm text-muted">
              <i class="far fa-clock mr-1"></i>
              {{getTimeAvailable(notification) | timeAgo}}
            </p>
          </div>
        </div>
      </a>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notifications-menu" *ngIf="notifications?.length == 0">
      <a class="dropdown-item">
        <div class="media">
          <div class="media-body">
            <div class="d-flex">
              <h3 class="dropdown-item-title">
                No Notifications Available
              </h3>
            </div>
          </div>
        </div>
      </a>
      <div class="dropdown-divider"></div>
  </div>
</li>
