<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="m-2 text-dark">
          <h1>Application</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-purple">
        <div class="card-header">
          <h3 class="card-title">قائمة البحث</h3>
        </div>
        <app-alerts [errors]="formErrors"></app-alerts>

        <div class="col-sm-12">
          <div class="resultsWrapper rtl" *ngIf="response">
            <div class="searchApplications">
              <div class="row">
                <div class="col-sm-6">
                  <label >Service Name: </label><span>{{response.serviceName?.ar}}</span>
                </div>
                <div class="col-sm-6">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label >Application ID: </label><span></span>
                </div>
                <div class="col-sm-6">
                  <label >Channel: </label><span>{{response.channel}}</span>
                </div>
              </div>
              <div class="card" *ngFor="let application_step of response.steps; let i = index">
                <div class="card-header border-0">
                  <div class="card-tools">
                    <button type="button" class="btn btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <h3 class="card-title float-right font-weight-bold">Step Status: {{application_step.status}}</h3>
                </div>
                <div class="card-body">
                  <table class="table table-bordered landTable bg-white table-responsive d-table">
                    <thead>
                      <tr class="bg-grey">
                        <th>#</th>
                        <th>Field name</th>
                        <th>Field Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let field of application_step.dataIn | keyvalue; let j = index">
                        <td>{{ j + 1}}</td>
                        <td>{{ field.key }}</td>
                        <td>{{ field.value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div class="row" *ngIf="!response">
            <div class="col-sm-12 text-center">
              <h4>لا توجد بيانات لهذا البحث ، حاول مرة أخرى عن طريق تغيير معايير البحث</h4>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
