<!-- <select class="form-control select2bs4 rtl"
  [class]="customClass"
  [required]="field.required"
  [name]="field.fieldName.en"
  [id]="field.fieldID"
  [multiple]="'false'"
  [(ngModel)]="formData[field.fieldID]"
  (change)="setmyvalue($event)"
  #ngModel="ngModel"
>
  <option value="">{{field.placeholder.en}}</option>
  <option [value]="field_detail.key" *ngFor="let field_detail of dataOptions">
    {{field_detail.value.en}}
  </option>
</select> -->

<ng-select
  class="rtl"
  [items]="dataOptions | async"
  [class]="customClass"
  [required]="field.required"
  [name]="field.fieldName.ar"
  [id]="field.fieldID"
  [(ngModel)]="formData[field.fieldID]"
  bindLabel="value.ar"
  bindValue="key"
  [placeholder]="getText(field, 'placeholder')"
  notFoundText="not found"
  (open)="loadData()"
  #ngModel="ngModel"
>
</ng-select>

<div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched)"
    class="alert alert-danger">

  <div *ngIf="ngModel.errors.required || ngModel.errors.minlength">
    {{getText(field, 'errorMsg')}}
  </div>
</div>
