@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
@import "~bootstrap-v4-rtl/dist/css/bootstrap-rtl.min.css";
@import "~icheck-bootstrap/icheck-bootstrap.min.css";
@import "~assets/css/adminlte.rtl.css";
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import "~daterangepicker/daterangepicker.css";
@import "~jquery-ui-dist/jquery-ui.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~ngx-smart-modal/ngx-smart-modal";
@import '~ngx-toastr/toastr.css';
/* @import '~datatables.net-dt/css/jquery.dataTables.min.css'; */
@import "~assets/css/dataTables.bootstrap4.min.css";

:root {
  --azure-700:#007fff;
  --azure-600:#279ffe;
  --azure-500:#4aadff;
  --azure-400:#6fbeff;
  --azure-300:#94cefe;
  --azure-200:#b7defd;
  --azure-100:#dceffe;

  --blue-700:#0003F2;
  --blue-600:#2728ff;
  --blue-500:#4a4bfe;
  --blue-400:#6e6fff;
  --blue-300:#9192fe;
  --blue-200:#b6b6fe;
  --blue-100:#dcdcfe;

  --violet-100:#ebddff;
  --violet-200:#d8b7fe;
  --violet-300:#c392ff;
  --violet-400:#b26eff;
  --violet-500:#a14afb;
  --violet-600:#8c27ff;
  --violet-700:#8200ff;

}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}
::-webkit-scrollbar-track {
  background:#eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  background:#999;
  border: thin solid gray;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#7d7d7d;
}           

@font-face {
  font-family: "GE SS Two Light";
  src: local("GE SS Two Light"), url(/assets/fonts/GE\ SS\ Two\ Light.ttf) format("truetype");
}

body {
  font-family: "GE SS Two Light", sans-serif;
  overflow-x: hidden;
}


.bg-grey {
  background-color: #d0cece;
}

.bg-seagreen {
  background-color: #c4e0b2;
}

.bg-light-red {
  background-color: #f7caac;
}

.bg-white {
  background-color: #ffffff;
}

.bg-victoria {
  /* background-color: #54499E; */
  background-color: #512e93;
}

.bg-truev {
  background-color: #7364D9;
}
.ng-select .ng-select-container .ng-value-container {
  padding-left: 0;
  padding-right: 10px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  color: transparent;
}

.form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 50px;
  padding-right: 10px;
}

.dataTables_filter{
  float: left;
}

@media (min-width: 992px){

  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p {
    width: 160px;
  }

  .sidebar-mini .nav-sidebar .nav-link p {
    width: 180px;
  }

  .nav-sidebar > .nav-item {
    width: 250px;
}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-flat .nav-icon,
 .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-flat .nav-icon {
  margin-left: .2rem;
}


[class*='sidebar-dark-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item:hover > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color:#17a2b8;
  color: #ffffff;
}

.nav-flat.nav-sidebar > .nav-item .nav-treeview, .nav-flat.nav-sidebar > .nav-item > .nav-treeview {
  background:#111f2a87;
}

[class*='sidebar-dark-'] .nav-flat .nav-item .nav-treeview > .nav-item > .nav-link, [class*='sidebar-dark-'] .nav-flat .nav-item .nav-treeview > .nav-item > .nav-link.active {
  border-color:  #17a2b8;
}

[class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link:hover, [class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link:focus {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #ffffff;
}

.sidebar-mini.sidebar-collapse .sidebar-form {
  display: none !important;
  
}
}
/* 
.text-sm .nav-link {

  padding-right: 1.5rem;
} */


.sidebar-form input[type="text"], .sidebar-form .btn {
  box-shadow: none;
  background-color: #f2f4f6;
  border: 1px solid transparent;
  height: 35px;
}

.sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}

 .sidebar-form .btn {
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

 .sidebar-form input[type="text"],  .sidebar-form .btn {
  box-shadow: none;
  background-color: #412f499e;
  border: 1px solid transparent;
  height: 35px;
  
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
}
/* .nav-treeview > .nav-item .nav-icon {
  margin-right: 1.1rem;
  margin-left: .2rem;
} */
.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon,
.nav-sidebar > .nav-item .nav-icon,
.sidebar-mini.sidebar-collapse .nav-sidebar  > .nav-item .nav-icon {
  width: 1.3rem;
  margin-left: .2rem;
  
}


label > span {
    color: red;
}

.red {
    color: red;
}

.bg-grey {
    background-color: #d0cece;
}

.bg-seagreen {
    background-color: #c4e0b2;
}

.bg-light-red {
    background-color: #f7caac;
}

.bg-white {
    background-color: #ffffff;
}

.icon-pointer {
    cursor: pointer;
}

.nsm-dialog {
    min-width: 50%;
    max-width: 80%;
}

.nsm-dialog-btn-close {
    left: 8px;
    right: unset;
}

.no-style-attachment{
    list-style: none;;
}

/* .layout-fixed .main-sidebar {
    right: 0;
}
.brand-image {
    float: right;
}
.content-wrapper, .main-footer, .main-header {
    margin-left: 0px !important;
    margin-right: 250px;
}
.mr-auto-navbav{
    margin-right: auto!important;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

[class*=icheck-]>input:first-child:checked+input[type=hidden]+label::after, 
[class*=icheck-]>input:first-child:checked+label::after {
    right: 15px;
    left: auto;
}
.nav-sidebar .nav-link>.right, 
.nav-sidebar .nav-link>p>.right {
    left: 1rem;
    right: auto;
}
.nav-sidebar .nav-link>.right:nth-child(2), 
.nav-sidebar .nav-link>p>.right:nth-child(2) {
    left: 2.2rem;
    right: auto;
}
.small-box .icon>i {
    left: 15px;
    right: auto;
}
@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem!important;
    }
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem!important;
        margin-left: 0!important;
    }
}

@media (max-width: 767.98px) {
    .main-sidebar, .main-sidebar::before {
        box-shadow: none !important;
        margin-left: -250px;
    }

    .content-wrapper, .content-wrapper::before, .main-footer, .main-footer::before, .main-header, .main-header::before {
        margin-left: 0;
    }

    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar::before {
        margin-left: 0;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p {
    width: 200px;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-right: 0rem!important;
        padding-right: 5rem!important;
    }
}
.rtl .ml-auto, [dir=rtl] .ml-auto {
    margin-left: auto!important;
    margin-right: 0!important;
} */

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    color: transparent;
}

.form-check {
    padding-left: 0;
    padding-right: 1.25rem;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 50px;
    padding-right: 10px;
}

.ng-select .ng-select-container .ng-value-container {
    padding-left: 0;
    padding-right: 10px;
}

.owl-dt-timer-divider {
    right: -.3em;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-from {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-to {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.ngx-toastr {
    text-align: right;
    direction: rtl;
}

.dropdown-menu-lg {
    max-width: 500px;
}

.card-header>.card-tools {
    float: left;
    margin-left: -.625rem;
    margin-right: 0;
}

.veryLargeFont {
    font-size: 70px;
}

.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 150px;
    min-height: 150px;
}

.img-circle {
    border-radius: 5%;
}

.placeholder {
    min-height: 38px;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.gallery-wrapper {
    min-height: 150px;
    max-width: 150px;
}
.ngx-gallery-thumbnail.ngx-gallery-active.ngx-gallery-clickable {  
    border-color: none !important;
    border: none !important;
}

ngx-gallery-thumbnails {
    margin-top: 0px !important;
}

.fs-30 {
    font-size: 30px;
}

.info-yellow {
  color: var(--warning);
}

.success-green {
  color: var(--success);
}

.custom-direction {
  direction: ltr !important;
}
