@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
@import "~bootstrap-v4-rtl/dist/css/bootstrap-rtl.min.css";
@import "~icheck-bootstrap/icheck-bootstrap.min.css";
@import "~assets/css/adminlte.rtl.css";
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import "~daterangepicker/daterangepicker.css";
@import "~jquery-ui-dist/jquery-ui.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~ngx-toastr/toastr.css';
/* @import '~datatables.net-dt/css/jquery.dataTables.min.css'; */
@import "~assets/css/dataTables.bootstrap4.min.css";

:root {
  --azure-700:#007fff;
  --azure-600:#279ffe;
  --azure-500:#4aadff;
  --azure-400:#6fbeff;
  --azure-300:#94cefe;
  --azure-200:#b7defd;
  --azure-100:#dceffe;

  --blue-700:#0003F2;
  --blue-600:#2728ff;
  --blue-500:#4a4bfe;
  --blue-400:#6e6fff;
  --blue-300:#9192fe;
  --blue-200:#b6b6fe;
  --blue-100:#dcdcfe;

  --violet-100:#ebddff;
  --violet-200:#d8b7fe;
  --violet-300:#c392ff;
  --violet-400:#b26eff;
  --violet-500:#a14afb;
  --violet-600:#8c27ff;
  --violet-700:#8200ff;

}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}
::-webkit-scrollbar-track {
  background:#eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  background:#999;
  border: thin solid gray;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#7d7d7d;
}           

@font-face {
  font-family: "GE SS Two Light";
  src: local("GE SS Two Light"), url(/assets/fonts/GE\ SS\ Two\ Light.ttf) format("truetype");
}

body {
  font-family: "GE SS Two Light", sans-serif;
  overflow-x: hidden;
}


.bg-grey {
  background-color: #d0cece;
}

.bg-seagreen {
  background-color: #c4e0b2;
}

.bg-light-red {
  background-color: #f7caac;
}

.bg-white {
  background-color: #ffffff;
}

.bg-victoria {
  /* background-color: #54499E; */
  background-color: #512e93;
}

.bg-truev {
  background-color: #7364D9;
}
.ng-select .ng-select-container .ng-value-container {
  padding-left: 0;
  padding-right: 10px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  color: transparent;
}

.form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 50px;
  padding-right: 10px;
}

.dataTables_filter{
  float: left;
}

@media (min-width: 992px){

  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p {
    width: 160px;
  }

  .sidebar-mini .nav-sidebar .nav-link p {
    width: 180px;
  }

  .nav-sidebar > .nav-item {
    width: 250px;
}

.nav-treeview > .nav-item .nav-icon {
  margin-right: 1.1rem;
  margin-left: .2rem;
}

[class*='sidebar-dark-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item:hover > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color:#17a2b8;
  color: #ffffff;
}

.nav-flat.nav-sidebar > .nav-item .nav-treeview, .nav-flat.nav-sidebar > .nav-item > .nav-treeview {
  background:#111f2a87;
}

[class*='sidebar-dark-'] .nav-flat .nav-item .nav-treeview > .nav-item > .nav-link, [class*='sidebar-dark-'] .nav-flat .nav-item .nav-treeview > .nav-item > .nav-link.active {
  border-color:  #17a2b8;
}

[class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link:hover, [class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link:focus {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #ffffff;
}

.sidebar-mini.sidebar-collapse .sidebar-form {
  display: none !important;
  
}
}
/* 
.text-sm .nav-link {

  padding-right: 1.5rem;
} */


.sidebar-form input[type="text"], .sidebar-form .btn {
  box-shadow: none;
  background-color: #f2f4f6;
  border: 1px solid transparent;
  height: 35px;
}

.sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}

 .sidebar-form .btn {
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

 .sidebar-form input[type="text"],  .sidebar-form .btn {
  box-shadow: none;
  background-color: #412f499e;
  border: 1px solid transparent;
  height: 35px;
  
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon,.nav-sidebar > .nav-item .nav-icon {
  width: 1.3rem;
  margin-left: .2rem;
}
