<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <label>Predicate</label>
      <ng-select class="rtl" [clearable]="false" [searchable]="false" [items]="dataOptions" name="predicateType" [(ngModel)]="predicateType" bindLabel="name" bindValue="id"></ng-select>

      <button type="button" (click)="addRow()" class="btn btn-sm btn-primary">add</button>
    </div>
  </div>

  <div class="row" *ngIf="formData.value as dataLogic">
    <div class="col-sm-12" *ngIf="isEnumerator(dataLogic)">
      <div class="row" *ngFor="let commitPair of dataLogic; let i = index;">
        <div class="col-sm-12">
          <div class="row" *ngFor="let commit of commitPair | keyvalue;">
            <div class="col-sm-12">
              <div class="form-group row" *ngIf="['or', 'and'].includes(commit.key)">
                <div class="col-sm-12">
                  <app-or-predicate-generator [formData]="commit"></app-or-predicate-generator>
                </div>
              </div>
              <div class="form-group row" *ngIf="commit.key == 'condition'">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="">Type</label>
                      <ng-select class="rtl" [clearable]="false" [searchable]="false" [items]="typeOptions" [name]="'type_' + i" [(ngModel)]="commit.value.type" bindLabel="name" bindValue="id"></ng-select>
                    </div>
    
                    <div class="col-sm-6">
                      <label class="">Step</label>
                      <input class="form-control" type="text" placeholder="Enter Step" [name]="'step_' + i" [(ngModel)]="commit.value.data.step"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label>Field</label>
                      <input class="form-control" type="text" placeholder="Enter Field" [name]="'field_' + i" [(ngModel)]="commit.value.data.field"/>
                    </div>
    
                    <div class="col-sm-6">
                      <label>Value</label>
                      <input class="form-control" type="text" placeholder="Enter Value" [name]="'value_' + i" [(ngModel)]="commit.value.data.value"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 mt-2">
              <button type="button" (click)="deleteRow(i)" class="btn btn-sm btn-danger" *ngIf="i != 0">Remove</button>
              <hr *ngIf="(formData.value?.length - 1) !== i"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="!isEnumerator(dataLogic)">
      <div class="form-group row" *ngFor="let item of dataLogic | keyvalue">
        <div class="col-sm-12">
          <div class="row" *ngIf="['or', 'and'].includes(item.key)">
            <div class="col-sm-12">
              <app-or-predicate-generator [formData]="item"></app-or-predicate-generator>
            </div>
          </div>
          <div class="row" *ngIf="item.key == 'condition'">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label class="stepName">Type</label>
                  <ng-select class="rtl" [clearable]="false" [searchable]="false" [items]="typeOptions" name="type" [(ngModel)]="item.value.type" bindLabel="name" bindValue="id"></ng-select>
                </div>

                <div class="col-sm-6">
                  <label class="">Data</label>
                  <input class="form-control" type="text" placeholder="Enter Step" name="step" [(ngModel)]="item.value.data.step"/>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label>Field</label>
                  <input class="form-control" type="text" placeholder="Enter Field" name="field" [(ngModel)]="item.value.data.field"/>
                </div>

                <div class="col-sm-6">
                  <label>Value</label>
                  <input class="form-control" type="text" placeholder="Enter Value" name="value" [(ngModel)]="item.value.data.value"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
