<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12 text-center">
          <h1 >Search</h1>
        </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">My Tasks</li>
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <app-alerts [errors]="formErrors"></app-alerts>
      <div class="card card-primary card-outline">
        <!-- <div class="card-header">
          <h3 class="card-title"></h3>
        </div> -->
        <!-- <div class="card-body" *ngIf="response$ | async as response">
          <div class="container" *ngIf="response.displayData">
              <div class="row" *ngFor="let display of response.displayData">
                <div class="col-sm-12 mt-3" *ngFor="let item of display | keyvalue">
                  <app-display-fields [data]="item"></app-display-fields>
                </div>
              </div>
            </div>
            <app-form [response]="response" *ngIf="response.fieldOrder"></app-form>
        </div> -->

        <div class="col-sm-12">
          <div class="mt-4">
            <form class="form-horizontal" (ngSubmit)="searchData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Developer Name
                        <span *ngIf="isSearchByUnit()">*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          [items]="developerOptions | async"
                          required="isSearchByUnit()"
                          name="developerId"
                          [hideSelected]="true"
                          [(ngModel)]="formData.developerId"
                          [typeahead]="developerSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="4"
                          bindValue="key"
                          [loading]="developerDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 4 or more characters"
                          #developer="ngModel"
                          [disabled]="isNotSearchTypeUnit()"
                          (keyup)="setSearchType('developerId', $event)"
                          (blur)="checkTypeAndValues('developerId')"
                          (change)="resetProjectAndUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Project Name
                        <span *ngIf="isSearchByUnit()">*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          required="isSearchByUnit()"
                          [items]="projectsOptions | async"
                          name="project"
                          [hideSelected]="true"
                          [(ngModel)]="formData.projectId"
                          [minTermLength]="4"
                          bindLabel="value.ar"
                          typeToSearchText="Please enter 4 or more characters"
                          bindValue="key"
                          [typeahead]="projectsSearchInput$"
                          notFoundText="لا يوجد نتائج للبحث"
                          [loading]="projectDataOptionsLoading"
                          #project="ngModel"
                          [disabled]="isNotSearchTypeUnit() || isEmpty('developerId')"
                          (keyup)="setSearchType('unitId', $event)"
                          (blur)="checkTypeAndValues('projectId')"
                          (change)="resetUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Unit ID
                        <span *ngIf="isSearchByUnit()">*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          required="isSearchByUnit()"
                          [items]="unitsOptions"
                          name="units"
                          [(ngModel)]="formData.unitId"
                          bindLabel="value.ar"
                          bindValue="key"
                          notFoundText="لا يوجد نتائج للبحث"
                          #unitId="ngModel"
                          [disabled]="isNotSearchTypeUnit() || isEmpty('projectId')"
                          (open)="loadUnitsOptions()"
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Land ID
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          required="true"
                          [items]="landsOptions | async"
                          name="land"
                          [hideSelected]="true"
                          [(ngModel)]="formData.landId"
                          [typeahead]="landSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="4"
                          bindValue="key"
                          [loading]="landDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 4 or more characters"
                          #land="ngModel"
                          [disabled]="isNotSearchTypeLand() || isNotSearchBy('landId')"
                          (blur)="checkTypeAndValues('landId')"
                          (keyup)="setSearchType('landId', $event)">
                        </ng-select>
                      </div>
                    </div>
                  
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Old Land ID
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          required="true"
                          [items]="oldLandsOptions | async"
                          name="oldLand"
                          [hideSelected]="true"
                          [(ngModel)]="formData.oldLandId"
                          [typeahead]="oldLandSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="4"
                          bindValue="key"
                          [loading]="oldLandDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 4 or more characters"
                          #oldLand="ngModel"
                          [disabled]="isNotSearchTypeLand() || isNotSearchBy('oldLandId')"
                          (blur)="checkTypeAndValues('oldLandId')"
                          (keyup)="setSearchType('oldLandId', $event)">
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Owner
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          class="rtl"
                          required="true"
                          [items]="ownersOptions | async"
                          [(ngModel)]="formData.owner"
                          [hideSelected]="true"
                          name="Owner"
                          bindLabel="value.ar"
                          bindValue="key"
                          [minTermLength]="4"
                          [typeahead]="ownersSearchInput$"
                          [loading]="ownersOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 4 or more characters"
                          #owner="ngModel"
                          [disabled]="isNotSearchTypeOwner() || isNotSearchBy('owner')"
                          (blur)="checkTypeAndValues('owner')"
                          (keyup)="setSearchType('owner', $event)">
                        </ng-select>
                      </div>
                    </div>
                  
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Owner ID
                      </label>
                      <div class="col-sm-9">
                        <input name="ownerId"
                          required="true"
                          type="text"
                          class="form-control"
                          [(ngModel)]="formData.ownerId"
                          #ownerId="ngModel"
                          [disabled]="isNotSearchTypeOwner() || isNotSearchBy('ownerId')"
                          (blur)="checkTypeAndValues('ownerId')"
                          (keyup)="setSearchType('ownerId', $event)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row ">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <hr/>

          <div class="resultsWrapper rtl" *ngIf="response">
            <div class="searchbyOwner" *ngIf="isOwnerResponse()">
              <label>Owner:</label>
              <table class="table table-bordered ownerTable">
                <thead>
                  <tr class="bg-grey">
                    <th>#</th>
                    <th>Customer ID</th>
                    <th>Name Arabic</th>
                    <th>Name English</th>
                    <th>Owner ID</th>
                    <th>Phone Number</th>
                    <th>Nationality</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr (click)="performActionPerStatus(item)" *ngFor="let item of response; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.applicationDetails?.applicationID}}</td>
                    <td>{{getItemText(item.serviceDetails, 'serviceName')}}</td>
                    <td colspan="3">
                      <table *ngIf="item.applicationDetails?.stepsExecuted">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Executed</th>
                            <th>Step Name</th>
                            <th>User Id</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rowItem of getStepDetails(item); let j = index">
                            <td>{{j + 1}}</td>
                            <td>{{rowItem.timeExecuted}}</td>
                            <td>{{rowItem.stepName}}</td>
                            <td>{{rowItem.userID}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>{{item.stepDetails?.status}}</td>
                    <td>{{getTimeAvailable(item)}}</td>
                    <td>
                      <span class="float-right text-sm mr-3" [ngClass]="getStatusClass(item)">
                        <i class="fas fa-star"></i>
                      </span>
                    </td>
                  </tr> -->
                </tbody>
              </table>
  
              <label>Lands:</label>
              <table class="table table-bordered landTable">
                <thead>
                  <tr class="bg-grey">
                    <th>#</th>
                    <th>Land ID</th>
                    <th>Old Land ID</th>
                    <th>Sector</th>
                    <th>District</th>
                    <th>Ownership Transfer Method</th>
                    <th>Ownership Percentage</th>
                    <th>Date</th>
                    <th>Bans</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr (click)="performActionPerStatus(item)" *ngFor="let item of response; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.applicationDetails?.applicationID}}</td>
                    <td>{{getItemText(item.serviceDetails, 'serviceName')}}</td>
                    <td colspan="3">
                      <table *ngIf="item.applicationDetails?.stepsExecuted">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Executed</th>
                            <th>Step Name</th>
                            <th>User Id</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rowItem of getStepDetails(item); let j = index">
                            <td>{{j + 1}}</td>
                            <td>{{rowItem.timeExecuted}}</td>
                            <td>{{rowItem.stepName}}</td>
                            <td>{{rowItem.userID}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>{{item.stepDetails?.status}}</td>
                    <td>{{getTimeAvailable(item)}}</td>
                    <td>
                      <span class="float-right text-sm mr-3" [ngClass]="getStatusClass(item)">
                        <i class="fas fa-star"></i>
                      </span>
                    </td>
                  </tr> -->
                </tbody>
              </table>
  
              <label>Real Estate Units:</label>
              <table class="table table-bordered unitTable">
                <thead>
                  <tr class="bg-grey">
                    <th>#</th>
                    <th>Unit ID</th>
                    <th>Project Name</th>
                    <th>Developer Name</th>
                    <th>Ownership Transfer Method</th>
                    <th>Ownership Percentage</th>
                    <th>Date</th>
                    <th>Bans</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr (click)="performActionPerStatus(item)" *ngFor="let item of response; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.applicationDetails?.applicationID}}</td>
                    <td>{{getItemText(item.serviceDetails, 'serviceName')}}</td>
                    <td colspan="3">
                      <table *ngIf="item.applicationDetails?.stepsExecuted">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Executed</th>
                            <th>Step Name</th>
                            <th>User Id</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rowItem of getStepDetails(item); let j = index">
                            <td>{{j + 1}}</td>
                            <td>{{rowItem.timeExecuted}}</td>
                            <td>{{rowItem.stepName}}</td>
                            <td>{{rowItem.userID}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>{{item.stepDetails?.status}}</td>
                    <td>{{getTimeAvailable(item)}}</td>
                    <td>
                      <span class="float-right text-sm mr-3" [ngClass]="getStatusClass(item)">
                        <i class="fas fa-star"></i>
                      </span>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
  
            <div class="searchbyLand" *ngIf="isLandResponse()">
              <label>Land:</label>
              <table class="table table-bordered landTable">
                <thead>
                  <tr class="bg-grey">
                    <th>Land ID</th>
                    <th>Old Land ID</th>
                    <th>Sector</th>
                    <th>District</th>
                    <th>Bans</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="getfirstLand(response.deeds) as land_detail">
                    <td>{{land_detail.land.landId}}</td>
                    <td>{{land_detail.land.oldLandId}}</td>
                    <td>{{land_detail.land.sectorId}}</td>
                    <td>{{land_detail.land.sectionId}}</td>
                    <td>
                      <ul class="bans-wrapper">
                        <li class="ban red" *ngFor="let blockage of land_detail.blockages">
                          {{blockage}}
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <label>Owners:</label>
              <div class="card" [ngClass]="getOwnerClass(item) == 'bg-seagreen' ? 'bg-seagreen' : ''"*ngFor="let item of response.deeds; let i = index">
                <div class="card-header border-0">
                  <div class="card-tools">
                    <button type="button" class="btn btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <h3 class="card-title float-right font-weight-bold">{{getOwnerHeader(item)}}</h3>
                </div>
                <div class="card-body">
                  <table class="table table-bordered ownerTable">
                    <thead>
                      <tr class="bg-grey">
                        <th>Customer ID</th>
                        <th>Name Arabic</th>
                        <th>Name English</th>
                        <th>Owner ID</th>
                        <th>Ownership Percentage</th>
                        <th>Nationality</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr [ngClass]="getOwnerClass(item) == 'bg-seagreen' ? 'bg-white' : getOwnerClass(item)" *ngFor="let deed_detail_item of item.deedDetails; let i = index">
                        <td>{{deed_detail_item.profile?.id}}</td>
                        <td>{{deed_detail_item.profile?.nameAr}}</td>
                        <td>{{deed_detail_item.profile?.nameEn}}</td>
                        <td>{{deed_detail_item.details?.ownerId}}</td>
                        <td>{{deed_detail_item.details?.share}}</td>
                        <td>{{deed_detail_item.profile?.nationalityCode}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div class="searchbyUnit" *ngIf="isUnitResponse()">
              <label>Real Estate Unit:</label>
              <table class="table table-bordered unitTable">
                <thead>
                  <tr class="bg-grey">
                    <th>Unit ID</th>
                    <th>Project Name</th>
                    <th>Developer Name</th>
                    <th>Bans</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="getfirstUnit(response.deeds) as unit_detail">
                    <td>{{unit_detail?.unit?.id}}</td>
                    <td>{{unit_detail?.project?.nameEn}}</td>
                    <td>{{unit_detail?.developer?.nameEn}}</td>
                    <td>
                      <ul class="bans-wrapper">
                        <li class="ban red" *ngFor="let blockage of unit_detail.blockages">
                          {{blockage.remarks}}
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <label>Owners:</label>
              <div class="card" [ngClass]="getOwnerClass(item) == 'bg-seagreen' ? 'bg-seagreen' : ''"*ngFor="let item of response.deeds; let i = index">
                <div class="card-header border-0">
                  <div class="card-tools">
                    <button type="button" class="btn btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <h3 class="card-title float-right font-weight-bold">{{getOwnerHeader(item)}}</h3>
                </div>
                <div class="card-body">
                  <table class="table table-bordered ownerTable">
                    <thead>
                      <tr class="bg-grey">
                        <th>Customer ID</th>
                        <th>Name Arabic</th>
                        <th>Name English</th>
                        <th>Owner ID</th>
                        <th>Ownership Percentage</th>
                        <th>Nationality</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr [ngClass]="getOwnerClass(item) == 'bg-seagreen' ? 'bg-white' : getOwnerClass(item)" *ngFor="let deed_detail_item of item.deedDetails; let i = index">
                        <td>{{deed_detail_item.profile?.id}}</td>
                        <td>{{deed_detail_item.profile?.nameAr}}</td>
                        <td>{{deed_detail_item.profile?.nameEn}}</td>
                        <td>{{deed_detail_item.details?.ownerId}}</td>
                        <td>{{deed_detail_item.details?.share}}</td>
                        <td>{{deed_detail_item.profile?.nationalityCode}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!response">
            <div class="col-sm-12 text-center">
              <h4>No data Found for this Search, Try again by changing Search Criteria</h4>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>