<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="m-2 text-dark">
          <h1>الحجوزات القانونية</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-purple">
        <div class="card-header">
          <h3 class="card-title"></h3>
        </div>
        <app-alerts [errors]="formErrors"></app-alerts>

        <div class="col-sm-12">
          <div class="mt-4">
            <form class="form-horizontal" (ngSubmit)="searchData(formData)" #f="ngForm" enctype='multipart/form-data' novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Developer Name
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          [items]="developerOptions | async"
                          required="true"
                          name="developerId"
                          [hideSelected]="true"
                          [(ngModel)]="formData.developerId"
                          [typeahead]="developerSearchInput$"
                          bindLabel="value.ar"
                          [minTermLength]="1"
                          bindValue="key"
                          [loading]="developerDataOptionsLoading"
                          notFoundText="لا يوجد نتائج للبحث"
                          typeToSearchText="Please enter 1 or more characters"
                          #developer="ngModel"
                          (keyup)="setSearchType('developerId', $event)"
                          (blur)="checkTypeAndValues('developerId')"
                          (change)="resetProjectAndUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Project Name
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          required="true"
                          [items]="projectsOptions | async"
                          name="project"
                          [hideSelected]="true"
                          [(ngModel)]="formData.projectId"
                          [minTermLength]="1"
                          bindLabel="value.ar"
                          typeToSearchText="Please enter 1 or more characters"
                          bindValue="key"
                          [typeahead]="projectsSearchInput$"
                          notFoundText="لا يوجد نتائج للبحث"
                          [loading]="projectDataOptionsLoading"
                          #project="ngModel"
                          (keyup)="setSearchType('unitId', $event)"
                          (blur)="checkTypeAndValues('projectId')"
                          (change)="resetUnit()"
                        >
                        </ng-select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Unit ID
                        <span>*</span>
                      </label>
                      <div class="col-sm-9">
                        <ng-select
                          
                          required="true"
                          [items]="unitsOptions"
                          name="units"
                          [(ngModel)]="formData.unitId"
                          bindLabel="value.ar"
                          bindValue="key"
                          notFoundText="لا يوجد نتائج للبحث"
                          #unitId="ngModel"
                          (open)="loadUnitsOptions()"
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Unit Type
                      </label>
                      <div class="col-sm-9">
                        <ng-select

                          [items]="unitTypesOptions"
                          name="unitType"
                          [hideSelected]="true"
                          [(ngModel)]="formData.unitType"
                          bindLabel="value.ar"
                          bindValue="key"
                          notFoundText="لا يوجد نتائج للبحث"
                          #unitType="ngModel"
                          >
                        </ng-select>
                      </div>
                    </div>
                  
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Rooms Count
                      </label>
                      <div class="col-sm-9">
                        <input name="roomsCount"
                          type="text"
                          class="form-control"
                          [(ngModel)]="formData.roomsCount"
                          #roomsCount="ngModel"
                          numbersOnly precision="0"
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <label class="col-sm-12 col-form-label">Valuation Date</label>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">From Date</label>
                      <div class="col-sm-9">
                        <input type="text"
                          class="form-control"
                          name="startDate"
                          [(ngModel)]="formData.startDate"
                          (dateTimeChange)="formatDate('startDate')"
                          [max]="minDate"
                          [owlDateTime]="dt7"
                          [owlDateTimeTrigger]="dt7"
                          #startDate="ngModel"
                        >
                        <owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">To Date</label>
                      <div class="col-sm-9">
                        <input type="text"
                          class="form-control"
                          name="endDate"
                          [(ngModel)]="formData.endDate"
                          (dateTimeChange)="formatDate('endDate')"
                          [min]="formData.startDate || minDate"
                          [owlDateTime]="dt5"
                          [owlDateTimeTrigger]="dt5"
                          #endDate="ngModel"
                        >
                        <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-sm-12">
                <div class="row ">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <hr/>

          <div class="resultsWrapper rtl" *ngIf="response">
            <div class="searchBlockages">
              <div class="row mb-3">
                <div class="col-sm-6">
                  <label>Search Results:</label>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-primary float-left" (click)="openAddValuationModal()">Add New Valuation</button>
                </div>
              </div>

              <div class="card bg-seagreen">
                <div class="card-header border-0">
                  <div class="card-tools">
                    <button type="button" class="btn btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <h3 class="card-title float-right font-weight-bold">Unit Valuations</h3>
                </div>
                <div class="card-body">
                  <table class="table table-bordered landTable bg-white">
                    <thead>
                      <tr class="bg-grey">
                        <th>#</th>
                        <th>Developer Name</th>
                        <th>Project Name</th>
                        <th>Unit ID</th>
                        <th>Unit Type</th>
                        <th>Rooms Count</th>
                        <th>Area</th>
                        <th>Unit Price</th>
                        <th>Price Per Sq. M</th>
                        <th>Valuation Price</th>
                        <th>Valuation Date</th>
                        <th>Employee</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item_detail of response; let i = index">
                        <tr>
                          <td>{{ i + 1}}</td>
                          <td>{{ item_detail?.typeAr }}</td>
                          <td>{{ item_detail?.projectNameAr }}</td>
                          <td>{{ item_detail?.id }}</td>

                          <td>{{ item_detail?.id }}</td>
                          <td>{{ item_detail?.id }}</td>
                          <td>{{ item_detail?.id }}</td>

                          <td>{{ item_detail?.id }}</td>
                          <td>{{ item_detail?.id }}</td>

                          <td>{{ item_detail?.tathmeenPrice }}</td>

                          <td>{{ item_detail?.tathmeenDate }}</td>
                          <td>{{ item_detail?.endedByNameAr }}</td>
                          <td>
                            <div class="d-flex">
                              <a href="javascript:void(0);" class="fs-30 p-1 icon-pointer" (click)="toggleActiveValuation(item_detail)">
                                <i [class]="getActiveTehmeenRowIconClass(item_detail)"></i>
                              </a>
                              <a href="javascript:void(0);" class="fs-30 p-1 icon-pointer" (click)="editValuation(item_detail)">
                                <i class="fas fa-pen"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        <ng-container *ngIf="item_detail.allTathemeens.length > 0">
                          <tr [class]="getPreviousTehmeenClass(item_detail)" *ngFor="let previous_item of item_detail.allTathemeens; let j = index">
                            <td>{{ j + 1}}</td>
                            <td>{{ previous_item?.typeAr }}</td>
                            <td>{{ previous_item?.projectNameAr }}</td>
                            <td>{{ previous_item?.id }}</td>

                            <td>{{ previous_item?.id }}</td>
                            <td>{{ previous_item?.id }}</td>
                            <td>{{ previous_item?.id }}</td>

                            <td>{{ previous_item?.id }}</td>
                            <td>{{ previous_item?.id }}</td>

                            <td>{{ previous_item?.tathmeenPrice }}</td>

                            <td>{{ previous_item?.tathmeenDate }}</td>
                            <td>{{ previous_item?.endedByNameAr }}</td>
                            <td></td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div class="row" *ngIf="!response">
            <div class="col-sm-12 text-center">
              <h4>لا توجد بيانات لهذا البحث ، حاول مرة أخرى عن طريق تغيير معايير البحث</h4>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ngx-smart-modal #addValuationModal identifier="addValuationModal" [escapable]="true" escapable="true" (onAnyCloseEvent)="resetAddValuationModal()">
  <div class="modal-header pt-0">
    <div class="modal-title">
      <h4>Add New Valuation</h4>
    </div>
  </div>
  <form #addValuationForm="ngForm" (ngSubmit)="addNewValuation(addValuationData);" novalidate>
    <div class="modal-body">
      <div class="conatiner">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Developer Name
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  
                  [items]="developerOptions | async"
                  required="true"
                  name="developerId"
                  [hideSelected]="true"
                  [(ngModel)]="addValuationData.developerId"
                  [typeahead]="developerSearchInput$"
                  bindLabel="value.ar"
                  [minTermLength]="1"
                  bindValue="key"
                  [loading]="developerDataOptionsLoading"
                  notFoundText="لا يوجد نتائج للبحث"
                  typeToSearchText="Please enter 1 or more characters"
                  #developer="ngModel"
                  (keyup)="setSearchType('developerId', $event)"
                  (blur)="checkTypeAndValues('developerId')"
                  (change)="resetProjectAndUnit()"
                >
                </ng-select>
                <div *ngIf="developer.invalid && (developer.dirty || developer.touched)" class="alert alert-danger">
                  <div *ngIf="developer.errors?.required">
                    Developer Name can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Project Name
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select

                  required="true"
                  [items]="projectsOptions | async"
                  name="project"
                  [hideSelected]="true"
                  [(ngModel)]="addValuationData.projectId"
                  [minTermLength]="1"
                  bindLabel="value.ar"
                  typeToSearchText="Please enter 1 or more characters"
                  bindValue="key"
                  [typeahead]="projectsSearchInput$"
                  notFoundText="لا يوجد نتائج للبحث"
                  [loading]="projectDataOptionsLoading"
                  #project="ngModel"
                  (keyup)="setSearchType('unitId', $event)"
                  (blur)="checkTypeAndValues('projectId')"
                  (change)="resetUnit()"
                >
                </ng-select>

                <div *ngIf="project.invalid && (project.dirty || project.touched)" class="alert alert-danger">
                  <div *ngIf="project.errors?.required">
                    Project Name can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Unit Type
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select

                  [items]="unitTypesOptions"
                  name="unitType"
                  [hideSelected]="true"
                  [(ngModel)]="addValuationData.unitType"
                  bindLabel="value.ar"
                  bindValue="key"
                  notFoundText="لا يوجد نتائج للبحث"
                  #unitType="ngModel"
                  >
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Rooms Count
              </label>
              <div class="col-sm-9">
                <input name="roomsCount"
                  type="text"
                  class="form-control"
                  [(ngModel)]="addValuationData.roomsCount"
                  #roomsCount="ngModel"
                  numbersOnly precision="0"
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Price per sq. m
              </label>
              <div class="col-sm-9">
                <input name="pricePerSqM"
                  type="text"
                  class="form-control"
                  [(ngModel)]="addValuationData.pricePerSqM"
                  #pricePerSqM="ngModel"
                  numbersOnly precision="2"
                >
              </div>
            </div>
          </div>

          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer pb-0">
      <div class="col-sm-12">
        <button type="button" class="btn btn-default" (click)="addValuationModal.close()">Close</button>
        <button type="submit" [disabled]="addValuationForm.invalid" class="btn btn-primary float-left">Submit</button>
      </div>
    </div>
  </form>
</ngx-smart-modal>


<ngx-smart-modal #updateValuationModal identifier="updateValuationModal" [escapable]="true" escapable="true" (onAnyCloseEvent)="resetUpdateValuationModal()">
  <div class="modal-header pt-0">
    <div class="modal-title">
      <h4>Update Valuation</h4>
    </div>
  </div>
  <form #updateValuationForm="ngForm" (ngSubmit)="updateValuation(updateValuationData);" novalidate>
    <div class="modal-body">
      <div class="conatiner">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Developer Name
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select
                  
                  [items]="developerOptions | async"
                  required="true"
                  name="developerId"
                  [hideSelected]="true"
                  [(ngModel)]="updateValuationData.developerId"
                  [typeahead]="developerSearchInput$"
                  bindLabel="value.ar"
                  [minTermLength]="1"
                  bindValue="key"
                  [loading]="developerDataOptionsLoading"
                  notFoundText="لا يوجد نتائج للبحث"
                  typeToSearchText="Please enter 1 or more characters"
                  #developer="ngModel"
                  (keyup)="setSearchType('developerId', $event)"
                  (blur)="checkTypeAndValues('developerId')"
                  (change)="resetProjectAndUnit()"
                  disabled="true"
                >
                </ng-select>
                <div *ngIf="developer.invalid && (developer.dirty || developer.touched)" class="alert alert-danger">
                  <div *ngIf="developer.errors?.required">
                    Developer Name can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Project Name
                <span>*</span>
              </label>
              <div class="col-sm-9">
                <ng-select

                  required="true"
                  [items]="projectsOptions | async"
                  name="project"
                  [hideSelected]="true"
                  [(ngModel)]="updateValuationData.projectId"
                  [minTermLength]="1"
                  bindLabel="value.ar"
                  typeToSearchText="Please enter 1 or more characters"
                  bindValue="key"
                  [typeahead]="projectsSearchInput$"
                  notFoundText="لا يوجد نتائج للبحث"
                  [loading]="projectDataOptionsLoading"
                  #project="ngModel"
                  (keyup)="setSearchType('unitId', $event)"
                  (blur)="checkTypeAndValues('projectId')"
                  (change)="resetUnit()"
                  disabled="true"
                >
                </ng-select>

                <div *ngIf="project.invalid && (project.dirty || project.touched)" class="alert alert-danger">
                  <div *ngIf="project.errors?.required">
                    Project Name can not be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Unit ID
              </label>
              <div class="col-sm-9">
                <input name="unitID"
                  type="text"
                  class="form-control"
                  [(ngModel)]="updateValuationData.unitID"
                  #unitID="ngModel"
                  disabled="true"
                >
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Valuation Price
              </label>
              <div class="col-sm-9">
                <input name="tathmeenPrice"
                  type="text"
                  class="form-control"
                  [(ngModel)]="updateValuationData.tathmeenPrice"
                  #tathmeenPrice="ngModel"
                  numbersOnly precision="2"
                >
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer pb-0">
      <div class="col-sm-12">
        <button type="button" class="btn btn-default" (click)="updateValuationModal.close()">Close</button>
        <button type="submit" [disabled]="updateValuationForm.invalid" class="btn btn-primary float-left">Update</button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
