<div class="col-md-12">
  <label>End Criteria</label>
  <div class="row" *ngIf="formData.endCriteria as criteriaData">
    <div class="col-sm-12" *ngIf="isEnumerator(criteriaData)">
      <div class="row" *ngFor="let commit of criteriaData; let i = index;">
        <div class="col-sm-12" >
          <app-predicate-generator [formData]="commit" [key]="'dataValidation'"></app-predicate-generator>
        </div>
        <div class="col-sm-12 mt-2">
          <button type="button" (click)="deleteRow(i)" class="btn btn-sm btn-danger" *ngIf="i != 0">Remove</button>
          <hr *ngIf="(criteriaData?.length - 1) !== i"/>
        </div>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="!isEnumerator(criteriaData)">
      <div class="form-group row">
        <div class="col-sm-12" >
          <app-predicate-generator [formData]="criteriaData" [key]="'dataValidation'"></app-predicate-generator>
        </div>
      </div>
    </div>
  </div>
</div>